[2020-12-18 11:00] khaeru commented on #433
@vruijven @francescolovat as discussed today.

[2021-01-14 09:49] khaeru commented on #412
No PR was opened for this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:49] khaeru commented on #292
No PR was opened for this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:50] khaeru commented on #399
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:50] khaeru commented on #405
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:51] khaeru commented on #406
No PR was opened for this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:51] khaeru commented on #386
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:53] khaeru commented on #239
Postponed to v3.3 (or later).

[2021-01-14 09:58] khaeru commented on #320
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:59] khaeru commented on #318
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:59] khaeru commented on #317
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 09:59] khaeru commented on #315
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 10:20] khaeru commented on #40
No one was assigned to do this by the feature freeze for v3.2.0, so we postpone to v3.3 (or later).

[2021-01-14 19:19] Thrameos commented on #386
@khaeru is there an issue that JPype 1.2.x won't work for this project?   0.7.5 is pretty far back.   If you have an issue with the newest, perhaps I can help resolve it.

[2021-01-15 09:52] khaeru commented on #386
@Thrameos many thanks for coming over to inquire!

In short, no issue with 1.2.0, and new installs will get that, so they'll be fine. No need to make any changes in JPype.

I think we can just bump the JPype minimum version; no harm in doing so.

But this issue is more about our own continuous integration (CI) and testing workflows, that let us spot such situations, which could recur in the future

[2021-01-15 17:50] Thrameos commented on #386
Sounds good.  There were a few versions with memory leaks between 0.7.5 and 1.2.x as well as some significant speed ups.  There are only a hand full of planned features for JPype (though the last 3 are biggies), so hopefully we will have long term stability point this year.

Regarding sematic versioning, the next likely incompatibility that I am aware of is regards to the type used when automatic

[2021-01-15 19:49] khaeru commented on #386
Great, thanks for that heads-up—we'll be sure to look out for it.

[2021-01-18 08:27] OFR-IIASA opened #437 "MESSAEGix.years_active returns incorrect lifetime if lifetimes vary"
The lifetime retrieved is as follows:
` lt = self.par('technical_lifetime', filters=filters).at[0, 'value']`

The filters only specify the node and technology. Hence the lifetime will always be equal to the item with index 0 in the list, irrespective of what vintage this may be.

The solutions is to extend the filter and change the code as follows:
[code]

[2021-01-24 11:13] #303 closed

[2021-01-24 11:14] khaeru commented on #303
Total coding time about 12 hours 30 minutes.

[2021-02-03 03:30] #334 closed

[2021-02-03 03:51] Chocooto opened #439 "Use ix.Platform() to open a local database"
Message-ix and ixmp are updated to the latest version 3.2.0.
I can use ix.Platform() or ix.Platform('default') to open a default database from a default address. How can I open another database from a different address? Thanks!
I tried different ways but failed, and errors are as following.
**1. mp = ix.Platform(dbprops="E:\Scenarios\GEIDCO-2C\geidco2")**

**2.mp = ix.Platform('geidco2')**

[2021-02-03 08:06] #439 closed

[2021-02-04 18:32] behnam-zakeri commented on #433
@khaeru thanks for noticing this. Indeed there should be more compact and concise ways of doing this. A small part of the code being long is to cover some corner cases. But in general the process can be made simpler.

[2021-02-16 10:11] francescolovat opened #442 "`bottleneck` dependency installation"
When running tests in `message_data`, `test_iamc_replace_units[R11]` was failing due to a missing module/dependency `bottleneck` (not included in `message_data` dependencies).

Trying to fix that problem and `pip` installing `bottleneck`, the following error occurred:

`error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.

[2021-02-17 11:52] khaeru opened #443 "Report global quantities for ‘World’ in one of 2+ ways"
For instance:

- n=‘World’ represents a sum of values for all other n.
- n=‘World’ is a distinct node where activity occurs, e.g. for shipping.

First noted 2019-09-18.

[2021-02-25 12:54] khaeru opened #444 "Accelerate Scenario.par_list(…, indexed_by=…) using MESSAGE_ITEMS"
To implement iiasa/ixmp#402 in a generic ixmp.Scenario will require calling `.idx_sets()` on each parameter.
For message_ix, this can be accelerated to avoid touching the backend by .model.MESSAGE_ITEMS.

[2021-04-13 08:56] OFR-IIASA opened #455 "Java heap space issues"
The issue of running out of Java Heap Space, results when scenarios are loaded sequentially. A scenario is loaded, data is retrieved from the scenario (no checkout/commit is performed), data is then processed. (details below). A maximum of 12 scenarios can be processed, before memory issues are encountered. For each scenario which is loaded, more memory is required as opposed to memory being freed

[2021-04-13 12:29] OFR-IIASA opened #457 "Bars in stacked bar plots in tutorials are too wide"
The issue refers to the plots of the various tutorials - e.g. westeros_baseline.ipynb

#### Problem description

![image](https://user-images.githubusercontent.com/20972550/114551805-2e287c80-9c64-11eb-821a-7e2d01725779.png)

#### Versions

[code]

[2021-04-13 14:13] francescolovat commented on #457
Hi @OFR-IIASA ,

I also noticed that issue when testing the release 3.2.0. See [this comment](https://iiasaene.slack.com/archives/C0EFAAT8B/p1611686566004500?thread_ts=1611561669.003000&cid=C0EFAAT8B).

From @khaeru's comment, it seems that the value set for the width in [this line](https://github.com/iiasa/message_ix/blob/93b65e5f7d8f2b96224179a82e2b1f3d95f11540/message_ix/reporting/computations.

[2021-04-14 05:42] zsalimian opened #458 "Question about MESSAGE-ix"
Dear Sir,

I have encountered with a problem in using MESSAGE-ix equations.
I used the GAMS codes for a simple RES.
As you can see this simple model contains 4 years, in which 690 is historical year and 700 is defined to be the first year.
    year_all        /690,700,710,720/
    year /700,710,720/
    first_period(year_all)    /700/
    duration_time(time)=1;
    duration_period(year_all)=10;
Mo

[2021-04-14 07:23] #458 closed

[2021-04-17 10:54] DrUkachi opened #461 "Problem when running scenario.solve()"
Dear Community,
I am trying to use the message_ix library to work on predicting the energy mix. Currently I am trying out the Tutorial notebooks provided in the documentation and each time I run this line:

`scenario.solve()`

I get the following error

[code]

I am using a Windows 10 OS machine. I would appreciate any feedbacks and suggestions on how to solve this issue.
Thank you.

[2021-04-17 12:37] #461 closed

[2021-04-19 12:52] khaeru commented on #455
- This may be related to iiasa/ixmp#227, which was closed via iiasa/ixmp#298. See the latter for extensive discussion & records of various tests and diagnostics. See also iiasa/ixmp#215, still open re: performance tests.
- Jupyter might be one culprit (the description says “Module_x is called from an ipynb”). To wit:
  - ixmp aggressively garbage-collects objects when they are deleted, i.e. no lon

[2021-04-19 12:56] khaeru commented on #457
@francescolovat thanks for triaging here. Please keep in mind that links into non-public Slack conversations won't be clickable for others visiting the issue; so in the future, better to copy the text/description into your GitHub comment.

As you said, I think the culprit is this line in the simplified plots used in the tutorials:
https://github.com/iiasa/message_ix/blob/93b65e5f7d8f2b96224179a82e

[2021-04-21 06:15] OFR-IIASA opened #464 "Extend documentation to include info on (national) modeling"
The documentation of the model should be extended to add some information shared in recent  collaborations with national modelling teams.
Items to include:
- How to get started working with MESSAGEix and setting up a national model.
- Various strategies on how to migrate work from an existing model framework to MESSAGEix.

Some information already collected can be found [here](https://iiasahub.sha

[2021-04-21 06:18] OFR-IIASA opened #465 "Extend documentation on debugging"
Some recent documentation provided to collaborators should be added to the current section of debugging.

Information to be included can be found [here](https://iiasahub.sharepoint.com/:w:/s/ene/MESSAGEix/ETyNon6nlolDlSWnByM8MsgBJhsq16ksAdqzer7F9_iktg?e=StGPvT).

[2021-04-21 06:21] OFR-IIASA opened #466 "Extend documentation to include recent FAQs"
Some questions and answers from a recent project should be added to the documentation.

The FAQ document can be found [here](https://iiasahub.sharepoint.com/:w:/s/ene/MESSAGEix/EWCnutxljvVBsNHR2ygVOAIBhABcB4HLNj2aGVvJRL2gzA?e=aClCW4).

[2021-04-27 15:59] #437 closed

[2021-05-05 07:20] OFR-IIASA opened #468 "Issues with installation of MESSAGEix using `pip`"
There is an issue occurring when installing MESSAGEix using `pip install` with the latest version of pip.

`WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617`

The extended error message as follows:

[code]

[2021-05-05 12:52] khaeru commented on #468
For context, this appears to be happening on:
- Windows
- Using Anaconda.

I also guess/assume:
- This is an install from source from a clone of the message_ix `master` branch.

Is that correct?

Finally, while these warning messages are generated, the install appears to succeed:
[code]

Can you confirm that message_ix is usable even after these messages appear?

First:

The URL indicated says “Pl

[2021-05-05 13:09] OFR-IIASA commented on #468
@khaeru Answers below. Also, the message ONLY appeared after upgrading "pip" (to version 21.1). I did the install just moments before the update of "pip" and there were no issues. Immediately after the install, the error messages occurred.

Can you confirm that message_ix is usable even after these messages appear?
- Yes, it is usable, but note that I have previously installed ixmp/jpype, therefor

[2021-05-05 13:14] khaeru commented on #468
Can you please remove these and then see if anything changes? I'm not sure how they appeared on your system (again, seems to match the pattern some editors/tools use for creating temporarily files/directories) but they may be confusing Python's machinery.

[2021-05-05 13:33] OFR-IIASA commented on #468
A quick update.

i have removed the directories and re-ran the 'pip' on a fresh message_ix/master branch. The following messages were still displayed.

[code]

There is though a new version of pip which was just released (12.1.1) and with this update, none of the observed warnings appear. The issue can therefore be closed.

[code]

[2021-05-05 15:31] khaeru commented on #468
Thanks for the update!

[2021-05-05 15:31] #468 closed

[2021-05-10 10:45] sharijide opened #487 "Running the westeros_baseline tutorial"
Dear Admin,

I have been encountering issues running the westeros_baseline tutorial.  The second line of the westeros_baseline tutorial python model, that is - **mp = ixmp.Platform()** an error message came-up while running it, it showed:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-

[2021-05-19 07:24] Anurag94-cool opened #470 "Importing File to Message-Ix"
Dear All,

I am new to message-ix. I am getting a Not Implemented Error while reading an excel file. I am attaching the snaps. Kindly look into the codes and let me know if I am doing this wrong and what is the solution to this.

![image (1)](https://user-images.githubusercontent.com/66878460/118771798-96403300-b8a0-11eb-8133-7bd6f02fa7f1.png)
![image (2)](https://user-images.githubusercontent.com

[2021-05-19 08:06] #470 closed

[2021-05-24 11:37] khaeru commented on #320
No one was assigned to do this by the feature freeze for v3.3.0, so we postpone to v3.4 (or later).

[2021-05-24 11:38] khaeru commented on #318
No one was assigned to do this by the feature freeze for v3.3.0, so we postpone to v3.4 (or later).

[2021-05-24 11:39] khaeru commented on #317
No one was assigned to do this by the feature freeze for v3.3.0, so we postpone to v3.4 (or later).

[2021-05-24 11:39] khaeru commented on #315
No one was assigned to do this by the feature freeze for v3.3.0, so we postpone to v3.4 (or later).

[2021-05-24 11:40] khaeru commented on #399
No one was assigned to do this by the feature freeze for v3.3.0, so we postpone to v3.4 (or later).

[2021-05-24 12:40] khaeru commented on #406
@volker-krey on closer inspection, these were not missing. @behnam-zakeri had nicely included them inline in the existing tables, e.g. https://github.com/iiasa/message_ix/blob/a73cc3648672352c4f98e831df05ccc8a4da77ce/message_ix/model/MESSAGE/sets_maps_def.gms#L236-L241

I'll close this. But in #473, I will also move the definitions into the common blocks so that the documentation and definitions a

[2021-05-24 12:40] #406 closed

[2021-05-24 14:03] khaeru commented on #40
No one was assigned to do this by the feature freeze for v3.3.0. I'll remove the milestone.

[2021-05-25 13:28] khaeru commented on #386
Removed milestone. Time allocated for wrestling with CI in the 3.3 release cycle has been eaten up by #473, so this will be handled later.

[2021-05-25 13:31] OFR-IIASA opened #475 "Extend documentation to guide users through Westeros tutorials"
After having removed the numbering of all Westeros tutorials in PR #450 , some guidance is required for users so that they:
a. know where to start
b. know which set of tutorials belong together
c. understand in what order to do tutorials e.g. which are basics and which are more advanced.

[2021-05-25 14:04] #292 closed

[2021-05-25 14:04] #405 closed

[2021-05-25 14:04] #412 closed

[2021-05-25 14:04] #457 closed

[2021-05-27 10:32] khaeru commented on #239
Postponed 'til after 3.3.

[2021-06-03 06:27] Anurag94-cool opened #479 "Help With Codes in Message-IX"
Hi All,

I am building a simple power sector model for India based on the Westeros model in Message-IX but modified according to the requirement. I have already input various variables such as investment cost, fixed O&M and many more. Now I need help with the following - 
a) The Westeros Model shows Natural Resources in the Primary Energy Level. I need help with the codes to divide the Natural Res

[2021-06-03 21:01] marek-iiasa opened #480 "conda/macOS install requires channel_priority strict"
**Summary:** without `conda config set channel_priority strict`—i.e. with the default setting of `flexible`—conda chooses to install JPype1 from the (main) anaconda channels, rather than from conda-forge. The resulting combination of packages does not work. This has been reproduced only on macOS.

**Fix:** Add the above command to step 6 of the install instructions, the one reading “Configure cond

[2021-06-04 11:12] khaeru commented on #480
@marek-iiasa I've added the triple backticks (\`\`\`) around the pasted console output, which makes it easier to read.

[code]
This line indicates that JPype, in particular the compiled binaries that accompany it, were not correctly installed as required by ixmp via message-ix.

Can you please give:
1. The full output of `conda list`, including JPype, and
2. The output of `python -c "import jpype;

[2021-06-04 11:17] #479 closed

[2021-06-05 20:27] marek-iiasa commented on #480
Here is the result  of:
(msg_env) Ba4:~ marek$ python  -c "import jpype; print(jpype.__version__)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/marek/anaconda3/envs/msg_env/site-packages/jpype/__init__.py", line 18, in <module>
    import _jpype
ModuleNotFoundError: No module named '_jpype'

The conda list is in the attached file:
[conda_lst.txt](https:/

[2021-06-05 20:31] marek-iiasa commented on #480
Attempt to remove JPype failed:
(msg_env) Ba4:~ marek$ conda remove JPype
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are missing from the target environment:
  - jpype

-----
Also installing was not successful:
(msg_env) Ba4:~ marek$ conda install jpype
Collecting package metadata (current_repodata.json): done
Solvin

[2021-06-05 20:39] marek-iiasa commented on #480
I've noticed that jpype1 was installed but I have no idea if also jpype is needed

[2021-06-06 12:03] khaeru commented on #480
The contents appear like this:
[code]
Note that most other packages are installed from the conda-forge channel, but jpype1 is installed from the default channel. This may be the cause of the problem: binary compatibility is only expected between conda-packages from within the *same* channel. Un- and re-installing (from conda-forge) might fix this.

Indeed: the package name for the purpose of (un)i

[2021-06-06 18:24] marek-iiasa commented on #480
Thanks for the tip: removing and installing jpype1 went OK, it is now from conda-forge:
jpype1                    1.2.1            py37h737db71_0    conda-forge
BUT something went wrong:
(msg_env) Ba4:~ marek$ message-ix show-versions
-bash: message-ix: command not found
Also python does not import jpype1
(msg_env) Ba4:~ marek$ python -c "import jpype1"
Traceback (most recent call last):
  File "<

[2021-06-06 18:35] marek-iiasa commented on #480
I tried the following:
After removing message-ix python imports jpype:
(msg_env) Ba4:~ marek$ python --version
Python 3.7.10
(msg_env) Ba4:~ marek$ python -c "import jpype; print(jpype.__version__)"
1.2.1
---
but import of jpype1 failed (although it remained in the conda list)
---
After installing message-ix again python continues to import jpype (but not jpype1)
---
Unfortunately, message-ix stil

[2021-06-06 19:22] marek-iiasa commented on #480
one more try:
after conda update message-ix, the original problem comes back:, i.e.,
message-ix show-versions
displays same errors, jpype1 is from the default channel, and python cannot import jpype

[2021-06-06 19:36] marek-iiasa commented on #480
I also noticed that removing jpype1 and installing it back results in a much short list of packages: before removing the list has 219 lines, after installing back only 21 lines.  Removing ipype1 removes also message-ix....

[2021-06-06 19:59] marek-iiasa commented on #480
Attached are conda lists list[1-4].txt correspond to the following stages:
1. before jpype1 remove
2. after jpype1 remove
3. after jpype1 install
4. after message install
The list after  message-ix update the list is the same as lst1i

Maybe this experiment will help in fixing the problem?

[lst4.txt](https://github.com/iiasa/message_ix/files/6604827/lst4.txt)
[lst1.txt](https://github.com/iiasa/m

[2021-06-07 07:36] khaeru commented on #480
First, as mentioned in Slack, I think my explanation above (https://github.com/iiasa/message_ix/issues/480#issuecomment-855388135) was not clear enough—sorry:

To expand:
- The name `jpype1` is used **only** for installing the package from PyPI/Conda/Conda-forge. To install "jpype" is never needed or possible.
- The name `jpype` is used **only** within Python code, for importing that **same** pack

[2021-06-07 09:35] marek-iiasa commented on #480
I've removed the previously create env., created a new one. The attempt to run:
'''conda install message-ix>=3.4'''
failed (I interrupted after more than 5 min).
Attempts to install with '''-c https://conda.anaconda.org/conda-forge/noarch''' failed (with reported errors).

Finally, I installed by running:
'''conda install -c https://conda.anaconda.org/conda-forge/osx-64 message-ix'''
but ...
'''me

[2021-06-07 09:53] marek-iiasa commented on #480
I've just tried (in a new environment) the following. Maybe the diagnostics could help in solving the problem?

'''(msg_en) Ba4:msg marek$ conda install "message-ix>=3.4"
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with ini

[2021-06-07 12:54] awais307 commented on #480
@marek-iiasa I was experiencing similar nature of errors you posted in your issue today. I realized, I was missing Java Development Kit (JDK) on my OS. I installed JDK for my macOS from [here](https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html) and added JAVA_HOME to path variable. After reinstalling message-ix I don't experience errors with jpype and it seems to work fine

[2021-06-07 13:22] marek-iiasa commented on #480
Thanks, Muhammad. I'll try your solution soon. Below I provide info promised to Paul a minute ago.
'''(msg_en) Ba4:wrksp marek$  message-ix show-versions
Traceback (most recent call last):
  File "/Users/marek/anaconda3/envs/msg_en/bin/message-ix", line 6, in <module>
    from message_ix.cli import main
  File "/Users/marek/anaconda3/envs/msg_en/site-packages/message_ix/__init__.py", line 4, in <m

[2021-06-07 14:50] awais307 commented on #480
I realized the error is perhaps relevant to conda installation and not JDK while I tested one more time.
For me installing message-ix through `pip install message-ix` works while installing through `conda install message-ix` still shows jpype error.

[2021-06-07 14:52] marek-iiasa commented on #480
Unfortunately.... the solution suggested by Muhammad does not work. I installed JDK, add to $PATH /Library/Java/Home/bin, removed all previously defined (related to message_ix) env, created new env, and from there, and installed message-ix>=3.3. The verification error persists, and the list of packages is the same.

[2021-06-07 14:53] marek-iiasa commented on #480
I will now recreate the env, and install message through pip, as suggested by Muhammad.

[2021-06-07 15:32] marek-iiasa commented on #480
Thanks to the Muhammad original and additional tips, I succeeded to install message-ix using pip instead of conda. The main points to remember (especially for less experienced colleagues, like myself) when installing on macOS:
1. jdk has to be installed and /Library/Java/Home/bin added to $PATH
2. in newly created env there is no pip; thus, the first step: conda install pip
3. next: pip install me

[2021-06-07 16:05] khaeru commented on #480
Thanks for this report and @awais307 for the assistance.

What we have here is a **workaround** that gets a working install. Conda is still misbehaving in some way that we still have not diagnosed. So it remains to (a) figure out what is actually going wrong and (b) fix it. This may involve adjusting the docs, or not; at the moment, we can't yet tell.

[2021-06-07 16:11] khaeru commented on #480
I went through and added \`\`\` to ~3 comments. In several others, ''' (single quotes) was used. Code fencing requires backticks. On my keyboard this is the same key as "~", to the left of the "1" in the number row.

[2021-06-07 18:55] marek-iiasa commented on #480
I am sorry for confusing ``` and '''; will try to avoid this.

[2021-06-07 19:06] khaeru commented on #480
Updated title, description, and labels to reflect @awais307's discovery that the problem was a missing `channel_priority strict` setting for conda. This turns out to be a docs issue: if users are instructed to set this setting when installing, then the problem should not occur.

[2021-06-07 19:22] marek-iiasa opened #482 "JRE error while running westeros_baseline in jupyter notebook"
#### Problem description
Running westeros_baseline (without any modifications) in jupyter notebook (the ```Python [conda env:msg_env]``` kernel) caused error (the report in the log-file)
[hs_err_pid43115.log](https://github.com/iiasa/message_ix/files/6611418/hs_err_pid43115.log)

My best guess is that the message-ix installation is inconsistent with my iMac-env or with the installed GAMS. Unfortun

[2021-06-07 19:46] marek-iiasa commented on #482
I attach also the output to console; maybe it contains useful info?
[console.txt](https://github.com/iiasa/message_ix/files/6611610/console.txt)

[2021-06-08 16:43] marek-iiasa commented on #482
I run the a copy ipynb Muhammad presented today and got another exception (copied below) which shows that my message-ix installation is faulty. I've checked GAMS (with their transport model): it appears to work OK. Please suggest how to trace the source of the problems (the above and below summarized). My best guess from the follow is that jpype continues to be the trouble-maker.
[code]

[2021-06-09 10:30] awais307 commented on #482
@marek-iiasa can you please check if you correctly specified GAMS in your environment variable as mentioned in installation instructions [here.](https://docs.messageix.org/en/stable/install.html#gams-required)

[2021-06-09 11:22] marek-iiasa commented on #482
yes, gams, as well as java, are in the $PATH: ```
(msg_env) Ba4:wrksp marek$ echo $PATH
/Users/marek/anaconda3/envs/msg_env/bin:/Library/Frameworks/GAMS.framework/Resources:/Applications/anaconda3/condabin:/anaconda3/bin:.:/usr/local/git/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/Library/Java/Home/bin:/Users/marek/bin:/Users/marek/src/mcma/ScriptsMac:/Library/TeX/texbin:/Library/Apple/usr/b

[2021-06-10 08:06] OFR-IIASA commented on #482
I did the install this morning on macOS:
step1. I deleted Anaconda and GAMS.
step2. rebooted machine.
step3. installed GAMS 35.2 (including ticking the box to add to PATH)
step4. installed anaconda3-2021.05
step5. installed messageix via anaconda following each step of the instructions.
step5. tried to download tutorials - the following error occurs

[code]

[2021-06-10 11:03] OFR-IIASA commented on #480
a good way way to check if the channels are set correctly - the command `$ cat .condarc` should show:
[code]

[2021-06-10 13:08] marek-iiasa commented on #482
Many thanks, Oliver. Comparing your and my installations shall help me to narrow possible problems with my installation. The key "suspect" I noticed is JVM path: your points to the message_env while mine points to the JDK (which I installed and added to $PATH).
Please comment on:

1. Have you installed JDK and added its bin to your $PATH ?
2. How your $JAVA_HOME is defined?
3. Should JDK be added

[2021-06-10 13:38] OFR-IIASA commented on #482
Marek,

As for questions 1, 2 and 3 -> No, I havent installed JDK.
4. Yes, the Westeros tutorial solved.
5. No, i believe this shouldnt create any issues.
6. Plotnine is only required for some reporting functionalities which are not called during the actual solving.
7. I have an older version of macOS, because the BigSur update caused macs of my type to be "bricked" and since then I have been hesi

[2021-06-10 15:30] marek-iiasa commented on #482
Thanks again, Oliver,

Aha... Does it mean you have no $JAVA_HOME defined (as required by the installation instructions)?

[2021-06-10 22:31] francescolovat commented on #480
Also related to this topic:

The following sequence of commands helped a user getting `message-ix` correctly installed, starting from scratch:

[code]

[2021-06-11 06:23] OFR-IIASA commented on #482
Marek, no i didnt define $JAVA_HOME. This is only needed if Java is installed manually. I didnt do this so it is done so as part of the MESSAGEix installation process. So when calling `which java`, i get:

`/Users/oliver/opt/anaconda3/envs/message_env/bin/java`

[2021-06-11 06:52] marek-iiasa commented on #482
Oliver, thanks again. I'll reinstall message_ix later today following your path, and report result here.

[2021-06-11 21:53] marek-iiasa opened #483 "Summary of the successful message-ix installation on macOS"
I summarize the message-ix installation on macOS Big Sur version 11.4 based on (to a large extend overlapping) comments by Francesco and Oliver.
[code]
I skipped Oliver's steps 1 through 4 (didn't want to risk loosing the stuff in another, earlier created, env; I also wanted to avoid GAMS reinstallation). Based on further comments of Oliver I didn't define JAVA_HOME, and have hidden the JDK.

Ther

[2021-06-12 08:53] francescolovat commented on #483
Thank you @marek-iiasa!

It then seems that the sequence of steps that I posted (based on testing efforts from @awais307) is a quite robust way to install `message-ix` from `conda` -it also worked with other participants in Slack.

We'll account for that and improve the documentation where needed.

[2021-06-25 09:29] OFR-IIASA opened #485 "Parameter(`duration_period`) returns unsorted years"
The parameter `duration_period` is not returned as a sorted list (by the years).

NOTE: This could also apply to other parameters/sets etc.

#### Code sample or context

[code]

#### Expected

The dataframe should be sorted by the years

#### Problem description
Some other functions, such as `years_active` can return the wrong years as these do not specifically sort the retrieved dataframe.

[2021-06-25 09:38] OFR-IIASA opened #486 "`read_excel` allows the upload of data for years not defined in the scenario"
`read_excel` allows the upload of data for years not defined in the scenario, this creates issues and therefore either the data-upload should be rejected or a new scenario with additional timesteps using the function `add_year` should be created.

If a scenario has the years defined:

[code]

And an data is added using the function `read_excel`:

[code]

[2021-06-25 10:35] khaeru commented on #485
Some thoughts here:

1. The Java code in ixmp_source, and the ixmp JDBCBackend and general Backend API, have not ever advertised that the data returned will be sorted. So that is not something that should be expected by code (in message_ix, or user code).
2. IMHO the bug here is that `message_ix.Scenario.years_active()` does not sort the returned values: https://github.com/iiasa/message_ix/blob/56

[2021-06-25 10:52] OFR-IIASA commented on #485
@khaeru
1. I was actually wondering whether this "was" once a feature (despite not being advertised).
2. I agree the fix is easy to implement, and can be the first simple solution to the observed issue.
3. I think it would be good to investigate/discuss this. Maybe it isn't a priority if indeed this was never a "feature", and hence this is only a single case where a feature assumes that years are

[2021-06-25 11:03] khaeru commented on #486
Some thoughts:

1. `ixmp.Scenario.read_excel()` was originally written to support reading _all_ data (sets and parameters) for a scenario into an empty Scenario object. The newer implementation in `ixmp.backend.io` and [tests](https://github.com/iiasa/ixmp/blob/ef075f8/ixmp/tests/core/test_scenario.py#L291) are for this behaviour.
2. It's nice that the code is flexible enough so that it works in u

[2021-06-25 12:16] LauWien commented on #155
Since the closed issue [#156](https://github.com/iiasa/message_ix/issues/156) is marked as a duplicate of this one, and merging PR [#154](https://github.com/iiasa/message_ix/pull/154) should've also closed this one as marked, I propose to close it.

[2021-06-25 12:16] #155 closed

[2021-06-25 12:47] LauWien commented on #486
Maybe the slightly related issue [#163](https://github.com/iiasa/message_ix/issues/163) could also be handled simultaneously with this one.

[2021-06-28 07:57] #487 closed

[2021-07-01 09:35] Jihoon opened #489 "Unit incompatibility error when reporting some scenarios"
Simple message_ix reporting gives the following error for some sets of models (e.g. ENGAGE, NGFS) but not for some other models (e.g. MESSAGEix-Materials).

#### Code sample or context

[code]

#### Expected result

An output of type `pyam.core.IamDataFrame`

#### Problem description
Error (Units incompatible)
[code]
#### Versions

<details><summary>Output of <tt>message-ix show-versions</tt></sum

[2021-07-01 11:20] khaeru commented on #489
Thanks for the report!

Can you do the following for at least (a) a scenario where this error occurs and (b) one where it does not?
[code]

This will help us detect differences in the contents of the scenarios that could be a cause of this error.

[2021-07-01 11:24] khaeru commented on #489
Incidentally: there could be two or more issues and corresponding fixes here:
- The scenarios have inconsistent structure and contents—that needs to be fixed in message-ix-models and message_data, either by:
  - Generating better scenarios ex-ante / before they are solved.
  - Improving the default reporting configuration (global.yaml) for the full model in order to apply proper units ex-post.
- m

[2021-07-01 12:52] GamzeUnlu95 commented on #489
(a) For a scenario that has the error:

[code]
(b) For a scenario with no error:
[code]

[2021-07-01 13:48] khaeru commented on #489
Thanks. I'm puzzled why there is no "mixed units discarded" log message for fix_cost (for fom) and var_cost (for vom).

Next, for each scenario:

[code]

Here we're trying to climb back up the chain of calculations to see where the incompatible values originate.

[2021-07-02 13:32] LauWien opened #490 "Improve docker container generation/enable binder"
To run tutorials effortlessly on any OS without having to install anything, binder can be used. The launched interactive notebook can be used directly by the user.
See the use of binder in the OEO [Temoa Project](https://github.com/TemoaProject/oeo) and how to get started with [binder](https://mybinder.readthedocs.io/en/latest/tutorials/index.html).

[2021-07-02 14:10] Jihoon commented on #489
Sorry, it was my bad that I didn't copy the whole error log correctly.

[2021-07-02 14:25] Jihoon commented on #489
From the conversation with @GamzeUnlu95, we've figured out, for case (b) above, all the units are discarded for the three parameters so that they become compatible with each other. But for case (a), var_cost will still keep 'USD/GWa' causing the incompatibility.

So we were luckily able to use the reporting for our model so far, thanks to the arbitrary addition of 't'.

The most fundamental way to

[2021-07-02 14:52] khaeru commented on #489
Indeed, I think this is the correct diagnosis.

Another workaround could be to use `units/apply/var_cost: ""` in the configuration / YAML file to force var_cost to be dimensionless, to the same effect.

Agreed. So indeed fixing the scenario contents is probably in message_data or message-ix-models. We can either transfer this issue, or close it and open a new one there.

However, there is a more f

[2021-07-04 10:46] khaeru commented on #490
Some additional information:

- Using binder requires a Docker image/Dockerfile.
- The ixmp and message_data repos already contain Dockerfiles: [ixmp](https://github.com/iiasa/ixmp/blob/main/ci/Dockerfile), [message_data](https://github.com/iiasa/message_data/blob/master/ci/Dockerfile).
  These are used by TeamCity to set up the containers on which tests are run.
- Some of these steps could be con

[2021-07-08 09:08] Jihoon commented on #489
A quick question about this workaround. Since @GamzeUnlu95's script is not relying on a yaml file, I've tried this below instead, which didn't resolve the incompatibility as I hoped. Do we need something more?
[code]

I am also curious when `units/apply/var_cost` is applied correctly, whether it applies to the entire platform or specifically to this model somehow?

[2021-07-08 11:38] khaeru commented on #489
A `Reporter` object is always needed to run reporting. Some configuration settings are global, others can be set differently on each Reporter instance. See [“Global and specific configuration”](https://genno.readthedocs.io/en/latest/config.html#global-and-specific-configuration) in the genno docs.

Here's the documentation for how `units/apply` is handled in ixmp: https://docs.messageix.org/projec

[2021-07-21 12:29] LauWien opened #496 "Extend documentation on historical capacity and activity values"
For better understanding of "historical capacity and activity values" an extension of the MESSAGEix [documentation](https://docs.messageix.org/en/stable/model/MESSAGE/parameter_def.html?highlight=historical#historical-capacity-and-activity-values) next to the "Westeros Tutorial - Introducing `historical_new_capacity`" in #478 would be desirable.

[2021-08-10 11:17] marek-iiasa opened #497 "Errors while running the westeros_baseline"
#### Code sample or context

#### Expected result

error free output
#### Problem description

Two errors, see below
#### Versions
ixmp:        3.3.0
message_ix:  3.3.0
message_ix_models: None
message_data: None

click:       8.0.1
dask:        2021.06.0
genno:       installed
graphviz:    None
jpype:       1.2.1
… JVM path:  /Users/marek/anaconda3/envs/msg_env/lib/jli/libjli.dylib
openpyxl:    3.

[2021-08-16 11:39] LauWien opened #498 "Adress CI failures in test_reporter_from_westeros"
The test `message_ix/tests/test_reporting.py::test_reporter_from_westeros` began to fail during PR [#478](https://github.com/iiasa/message_ix/pull/478) on all testet python versions (3.6, 3.8 and 3.9) on macOS and Ubuntu, and on python version 3.6 on Windows. At first glance the test run successfully with python versions 3.8 and 3.9 on Windows. However, opening the "Run test suite using pytest" fo

[2021-08-17 14:10] #498 closed

[2021-08-17 14:12] khaeru commented on #498
- Per #499, the cause was a change in the behaviour of pyam-iamc from version 1.0.0 to 1.1.0.
- The test function `test_reporter_from_westeros()` (but not the actual reporting code) relied on this behaviour.
- The previous behaviour was unadvertised and untested in pyam, so it's not really a bug that it changed; we simply adjust to the new behaviour.

Thanks @LauWien!

[2021-08-19 15:40] LauWien opened #502 "Remove deprecated signature of creating data frames in tutorials with `make_df`"
Using the new signature to create the data frame with the `make_df()` function in the tutorials might increase the understanding of them.
As I understood correctly the old signature needs the following code to create the data frame (e.g. data frame from the [`westeros_emissions_bounds`](https://github.com/iiasa/message_ix/blob/v3.3.0/tutorial/westeros/westeros_emissions_bounds.ipynb) tutorial):
[c

[2021-08-19 16:17] LauWien commented on #290
I think this issue can be closed hence [#407](https://github.com/iiasa/message_ix/pull/407) got merged and the folder `/tutorial/utils` doesn't exist anymore.
Please reopen if I'm mistaken :)

[2021-08-19 16:18] LauWien commented on #290
I think this issue can be closed hence [#407](https://github.com/iiasa/message_ix/pull/407) got merged and the folder `/tutorial/utils` doesn't exist anymore.
Please reopen if I'm mistaken :)

[2021-08-19 16:18] #290 closed

[2021-08-20 07:02] LauWien commented on #485
This issue is resolved by the merge of #491 as @OFR-IIASA stated in the PR.

[2021-08-20 07:02] #485 closed

[2021-08-20 14:04] #480 closed

[2021-08-23 10:59] khaeru opened #503 "Non-integer technical_lifetime → error in scaling_investment_costs.gms"
If `technical_lifetime` has non-integer values, the calculation of `beyond_horizon_factor` in scaling_investment_costs.gms errors:
https://github.com/iiasa/message_ix/blob/38461e62eacfba39b6ec52c02b35faaa7fab0bb2/message_ix/model/MESSAGE/scaling_investment_costs.gms#L139

…with a message like:
[code]
The `i` argument is `beyond_horizon_lifetime`, which is computed in the same file:
https://github.

[2021-08-23 12:56] #237 closed

[2021-08-30 07:27] OFR-IIASA commented on #502
I think that the routine overall is ok and it will help to clean up the tutorials..BUT...
For us it is self explanatory what is happening when using the function make_df. For new users though, this has always resulted in confusion as new users need to in most cases try and wrap their head around two things - the model structure as well as in many cases "pandas".
I would therefore suggest two thing

[2021-09-02 11:16] khaeru commented on #502
This can be handled in multiple ways:
1. Expand the "Examples" section of the documentation I wrote for `make_df`: https://docs.messageix.org/en/stable/api.html#message_ix.util.make_df to add more examples of different ways of calling the function and the outcomes. In these, link to the Python docs on using keyword arguments (https://docs.python.org/3/tutorial/controlflow.html#keyword-arguments) a

[2021-09-14 15:44] LauWien opened #507 "Flaky test test_tutorials.py::test_tutorial[R_austria] on macOS with Python version 3.8"
Merging new PRs into the main branch triggers most of the time the flaky test _message_ix/tests/test_tutorials.py::test_tutorial[R_austria]_ e.g. see [here](https://github.com/iiasa/message_ix/runs/3360866578). Since this test on macOS is also covered by Python version 3.9 it is fair to mark the test as xfail.

[2021-09-16 12:25] #507 closed

[2021-09-25 06:59] zsalimian opened #510 "different investment costs in different years"
I have defined three techonologies with investment costs in MESSAGE-ix
base_inv_cost = {
    'node_loc': country,
    'year_vtg': model_horizon,
    'unit': 'USD/kW',
}

costs = {
    'cycled_ppl': 632,
    'wind_ppl':500,
    'grid':152.4,
}

but I would like to define investment costs for different years.
for instance, investment costs for 'cycled_ppl' is 632$ in 2010 and will be 600$ in 2040.
H

[2021-09-25 07:29] zsalimian commented on #510
If possible please explain about defining fixed cost too.

[2021-09-27 06:53] #510 closed

[2021-09-28 08:20] #386 closed

[2021-10-01 09:10] behnam-zakeri commented on #210
This issue was addressed by changing the behavior of the respective check in GAMS thourgh #513.

[2021-10-01 09:32] behnam-zakeri opened #515 "Zero values for capacity_factor are changed to 1 in GAMS"
When assigning parameter `capacity_factor` in GAMS, the missing values are by default considered to be equal to 1 (see below equation):
https://github.com/iiasa/message_ix/blob/2cf0df3a3257d74fd423ff50818f33265c6cd831/message_ix/model/MESSAGE/data_load.gms#L141

While this is fine for many cases, it can cause unexpected model behavior when a user defines `capacity_factor` equal to zero for a techn

[2021-10-01 09:37] behnam-zakeri commented on #363
This issue will be addressed through #509. Thanks a lot @DIUANA for reporting this, and please report if you have discovered additional issues.

[2021-10-01 09:37] #363 closed

[2021-10-01 10:07] behnam-zakeri opened #516 "Zero values in GDX"
Due to efficiency considerations in GAMS for storing sparse data, zero values in GDX files are ignored by default when loading data of a model. It seems for overcoming this issue, there are some _mapping sets_ in `message_ix`, like `is_bound_emission` or `is_relation_upper`, to pass the information that cannot be loaded from GDX files, i.e., zero values in parameters when compiling a model. This w

[2021-10-02 07:37] zsalimian opened #517 "COST_NODAL calculation error"
Dear Sir,

I have developed a simple code with 2 technologies and one resource. Please see the results of model:

CAP:
   node_loc  technology  year_vtg  year_act         lvl            mrg
0     World  cycled_ppl      2010      2020  273.000000   0.000000e+00
1     World  cycled_ppl      2010      2030  273.000000   0.000000e+00
2     World  cycled_ppl      2020      2020  156.629630   0.000000e+

[2021-10-04 11:44] LauWien commented on #517
Dear @zsalimian,
thank you for reaching out. For better readability, please be so kind to mark code with triple backticks ```, described [here](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks).

[2021-10-06 13:49] LauWien opened #518 "Address CI failures in the workflow "Install from conda-forge""
The job "Check" within the "Install from conda-forge" GitHub Action workflow fails with the following error message:

https://github.com/iiasa/message_ix/runs/3812369811?check_suite_focus=true

[code]

Looking at the packages in the job "Install message-ix", message-ix as well as ixmp are not installed in their latest version.

[2021-10-06 14:05] LauWien opened #519 "Update documentation to share information on publications, tools, projects"
As brought up by @behnam-zakeri and discussed in today's MESSAGEix meeting: It would be useful for MESSAGEix users to get an overview of publications and projects which are using and tools which can be linked with MESSAGEix.

[2021-10-11 14:14] #483 closed, assigned to nobody

[2021-10-12 09:05] behnam-zakeri opened #521 "Mismatch of "time" and "time_act" in RENEWABLE_EQUIVALENCE"
In equation `RENEWABLE_EQUIVALENCE`, the index of sub-annual time slices for `ACT` of the technology linked to the `renewable_potential` is specified as `time`:
https://github.com/iiasa/message_ix/blob/2cf0df3a3257d74fd423ff50818f33265c6cd831/message_ix/model/MESSAGE/model_core.gms#L816
But parameter `input` of the technology in the same equation is specified with the index of `time_act` for activ

[2021-10-18 11:37] LauWien opened #522 "`westeros_baseline` tutorial should use `demand_per_year`"
In the [`westeros_baseline`](https://github.com/iiasa/message_ix/blob/main/tutorial/westeros/westeros_baseline.ipynb) tutorial the `light_demand` should be calculated out of the `demand_per_year` and the `gdp_profile`. Right now only the `gdp_profile` is multiplied by 100 which is then be used as the demand.

[2021-10-19 15:37] LauWien opened #525 "Fix handling of activity years and life time of technologies in the tutorials"
Secondly, as observed in the follow-up discussions on the last capacity building workshop, when we add parameters where the index includes both vintage and activity years, then in the past we have just added activity years that stretch the entire model horizon, irrespective of the lifetime of the technology. This definitely needs to be fixed as this causes too much confusion for new users.

_Origi

[2021-10-21 11:50] LauWien opened #526 "Add figure "new capacity" to the Westeros baseline tutorial for better understanding"
I also suggest (made a PR for that) to add a figure for "new capacity". That would help the reader to understand better "why the price of light drops in 710, and stays constant in 720". Alternatively, one could make this a question to the user.

_Originally posted by @behnam-zakeri in https://github.com/iiasa/message_ix/issues/523#issuecomment-947706894_

[2021-10-21 15:58] LauWien commented on #526
Solved with https://github.com/LauWien/message_ix/pull/3 by @behnam-zakeri.

[2021-10-21 15:58] #526 closed

[2021-10-22 05:23] LauWien opened #528 "Address CI failures in the lint and nightly workflow"
As part of #523, the "Check typing with mypy" run of the lint workflow began to fail and as of today the "Test MESSAGEix-GLOBIOM scenarios" of the nighlty.
Possible relation with the combination of Python 3.10 and new [numpy release 1.21.3](https://pypi.org/project/numpy/) on the 20th of October.

[2021-10-22 06:46] #528 closed, assigned to LauWien

[2021-10-25 12:22] zsalimian opened #530 "message-ix-models sample model"
Dear Sir,

Is it possible to send me a simple code for a simple RES in message-ix-models?

For instance, westeros example helped me a lot in learning MESSAGE-ix. Is there any similar code for message-ix-models?

[2021-11-02 10:57] #530 closed

[2021-11-02 15:41] khaeru commented on #518
From the output of `conda info` in any of the failing jobs:
[code]
Note that the arch-specific (win-64) channels appear _before_ the corresponding noarch channels. This seems to be conda's default. Together with strict channel priority, I think this forces conda to find message-ix 1.0.0 (in win-64) and refuses to consider 3.x in noarch. If we go back to the last passing run [here](https://github.c

[2021-11-02 16:29] LauWien commented on #518
Ah, perfect, thank you!! :)

[2021-11-03 10:11] khaeru commented on #516
This is a good summary of the challenges here. The GAMS documentation [describes `Eps`](https://www.gams.com/latest/docs/UG_Parameters.html#INDEX_eps_22_definition) as "a _stored_ zero value". Where literal `0` but not `Eps` is given, GAMS interprets that as "missing/no data".

I agree that the handling of this distinction could be simplified, and that might reduce the need for the "mapping sets"

[2021-11-04 08:48] #522 closed

[2021-11-11 16:16] LauWien opened #532 "Include Python version 3.10 and remove 3.6 in CI"
On the 4th of October Python 3.10 got released which lead to the failing of parts of our CI workflows.
Among others the following issues and errors appeared:

**nightly.yaml** / **lint.yaml**
_Install Python packages and dependencies_ / _Check typing with mypy_
[code]

This might be due to the delayed adjustments of the packages we depend on related to the Python version 3.10.

A hot-fix got imple

[2021-11-11 16:39] khaeru commented on #532
[code]
These occur when there is no pre-compiled binary ("wheel") distribution for the package on PyPI. `pip` then downloads the source code and tries to compile the binaries itself. Usually the GitHub Actions runners lack some libraries or other tools necessary to do this, so it fails.

The things one can check to monitor when these become available:
- Look at the PyPI page and available download

[2021-11-11 17:28] LauWien commented on #532
Thank you for the additional informations!

[2021-11-21 06:01] zsalimian opened #533 "Example in tutorial for modeling storage"
Dear Sir,

Is it possible to add an example about modeling storages in tutorial?

Regards

[2021-11-22 08:23] #533 closed

[2021-12-16 10:51] OFR-IIASA opened #536 "Handling of GAMS default configuration: e.g. solprint"
Based on the framework documentation, the GAMS options (https://www.gams.com/latest/docs/UG_GamsCall.html#UG_GamsCall_ListOfCommandLineParameters ) can be passed via the `solve()` command.

When passing `solve(gams_args=["solPrint=1"])` GAMS should print the solution in the .lst file. The log printed in the command-line window, shows that the argument is being passed to GAMS, yet it has no effect.

[2021-12-21 00:29] #518 closed

[2021-12-22 05:43] zsalimian opened #537 "Problems regarding input and output efficiencies"
Dear Sir,

I have encountered a new issue regarding  MESSAGE-ix results. Please see the following example. The efficiency of steam powerplant is around 0.5. In order to produce 1 kwyr of electricity we need 1 kw capacity and 2 kwyr gas. (capacity factor is considered to be 1)

 When I put the value of output equal to 0.5 and the value of input equal to 1 in the following code, it increases the cap

[2022-01-03 14:57] LauWien opened #538 "Address type hint errors in models.py"
Possible due to the new [release](https://pypi.org/project/mypy/) of mypy on Dec 16th the following errors occurred in the [lint workflow](https://github.com/iiasa/message-ix-models/runs/4691891651?check_suite_focus=true) of `message-ix-models`:
[code]
https://github.com/iiasa/message_ix/blob/42d5001c9d289a3ede79ddf8cd586935ec07ecd3/message_ix/models.py#L297-L317

Related https://github.com/iiasa/

[2022-01-04 09:52] #538 closed

[2022-01-05 15:30] #519 closed

[2022-01-11 10:18] #400 closed

[2022-01-13 15:41] LauWien commented on #320
No one was assigned to do this for v3.4.0, so we postpone to v3.5 (or later).

[2022-01-13 15:43] LauWien commented on #318
No one was assigned to do this for v3.4.0, so we postpone to v3.5 (or later).

[2022-01-13 15:43] LauWien commented on #317
No one was assigned to do this for v3.4.0, so we postpone to v3.5 (or later).

[2022-01-13 16:19] LauWien commented on #315
Some documentation is already implemented in PR #327 (probably will be merged after this release). As for the rest, no one was assigned to do this for v3.4.0, so we postpone to v3.5 (or later).

[2022-01-13 16:20] LauWien commented on #399
No one was assigned to do this for v3.4.0, so we postpone to v3.5 (or later).

[2022-01-17 14:42] LauWien opened #540 "Adress failing "Install from conda-forge" workflow"
Starting with the 15th of January the "Install from conda-forge" workflow started failing on `windows-latest-anaconda`.

[2022-01-18 05:55] zsalimian opened #547 "IIASA IAM framework"
Dear Sir,

I would like to use IIASA IAM framework which consists of GLOBIOM,MAGICC,....

I would like to know if different elements of IIASA IAM framework such as  GLOBIOM,MAGICC and GAINS are open source like MESSAGE-ix? Can I install and apply them like MESSAGE-ix?
Are there any tutorial sample for other models in IIASA IAM framework?

[2022-01-21 09:42] #371 closed

[2022-01-23 10:37] zsalimian opened #549 "sample code to use message-ix-models"
Dear Sir,

Is there any sample code to use message-ix-models like westeros?

Regards

[2022-01-25 15:37] OFR-IIASA opened #542 "Add parameter "historical_total_capacity""
Currently, the framework currently only allows the tracking of historically "new" installed capacity, via the parameter `historical_new_capacity`. The information about early-retired capacity is therefore lost when shifting the `firstmodelyear`. This means, that for the purpose of reporting, is not possible to replicate the amount of total installed capacity for year `y`, when shifting the `firstm

[2022-01-25 15:57] OFR-IIASA opened #543 "Parameter "historical_emission" no populated."
The parameter `historical_emission` should automatically be tracked with the value from the variable `EMISS` when shifting the `firstmodelyear`, as was explained here in issue #314.

A simple test using the Westeros tutorial (https://github.com/iiasa/message_ix/blob/main/tutorial/westeros/westeros_emissions_bounds.ipynb) showed that the parameter is indeed not populated.

This can be replicated by

[2022-01-26 07:30] OFR-IIASA opened #544 "Extend index for parameters "relation_new_capacity" and "relation_total_capacity" to include "node_loc""
Unlike the parameter "relation_activity", the parameters "relation_new_capacity" and "relation_total_capacity" do not include "node_loc" in the index-dimensions (see [link](https://docs.messageix.org/en/latest/model/MESSAGE/parameter_def.html#parameters-of-the-relations-section)). The use of these relations across multiple regions is therefore not possible.

[2022-01-26 08:40] khaeru commented on #543
This is also linked to #254: the functionality to shift the first model year is currently embedded in the Java code of the ixmp JDBCBackend. This is both a "stack level violation" and means that the code is not currently maintained or updated with improvements in this package.

A fix will involve creating utility code (basically a single function) here that shifts the first model year in a message

[2022-01-26 13:46] LauWien commented on #540
Closed with https://github.com/iiasa/message_ix/pull/541.

[2022-01-26 13:46] #540 closed

[2022-01-27 07:55] khaeru opened #546 "GAMS compilation errors re: `time_relative`"
#### Code sample or context

Tried to run a scenario from the CLI, e.g.:

[code]
#### Expected result

Scenario solves.

#### Problem description

The scenario does not solve. I see:
[code]

GAMS listing files are attached ([MESSAGE_run.lst.2022-01-27.txt](https://github.com/iiasa/message_ix/files/7948604/MESSAGE_run.lst.2022-01-27.txt)); key lines are:

[code]

Per the "wild shot" suggestion, I r

[2022-01-27 07:57] khaeru commented on #546
FYI @behnam-zakeri @LauWien
- The problem seems to be with the code added in #509.
- I find that the tests added in that PR fail on my system with various errors.
- Can you say what version(s) of GAMS you were running locally as you developed this?

[2022-01-27 08:15] LauWien commented on #546
I use GAMS version 35.2.0.

[2022-01-27 08:31] LauWien commented on #546
I just ran all tests and for me the tutorials added here ran through, only `test_tutorial[R_austria_load_scenario]` and `test_tutorial[R_austria]` don't, but these never do since `jupyter_client.kernelspec.NoSuchKernel: No such kernel named IR`, which I didn't install yet.

[2022-01-27 10:07] khaeru commented on #546
Okay, and CI I believe uses a pretty recent version as well. As you can see, my local install is still on 24.

- We don't have a strict/format minimum GAMS version, except I think for MESSAGE-MACRO.
- Maybe this is something that has changed between GAMS versions, i.e. the list of acceptable characters in the descriptive text after an item declaration used to exclude `()=,` etc., but now allows so

[2022-01-27 10:33] LauWien commented on #546
Hm, just out of curiosity, checking [here ](https://github.com/iiasa/message_ix/runs/4953007199?check_suite_focus=true) it says GAMS version 25.1.1 is used or maybe I'm mistaken.

Sounds good, happy to implement it.

[2022-01-27 12:57] #546 closed

[2022-01-31 10:39] LauWien opened #553 "Use "conda-incubator / setup-miniconda" action"
Use the well maintained _[conda-incubator / setup-miniconda](https://github.com/conda-incubator/setup-miniconda)_ action for the Miniconda part of the _conda.yaml_ workflow instead of [_iiasa/actions/setup-conda_](https://github.com/iiasa/actions/tree/main/setup-conda).

[2022-02-02 09:21] LauWien opened #555 "Address failing black lint"
Since https://github.com/iiasa/message_ix/pull/554 the following files are not in black style anymore, please see [here](https://github.com/iiasa/message_ix/runs/5034018924?check_suite_focus=true).

[code]

This is due to the [new black release](https://pypi.org/project/black/) on Jan 29, 2022.

- Remove spaces around power operators if both operands are simple (#2726)

[2022-02-02 10:33] khaeru commented on #555
Here's the changelog entry for black 22.1.0, including specific syntax changes: https://black.readthedocs.io/en/stable/change_log.html#id1

[2022-02-02 13:31] #555 closed

[2022-02-08 14:05] LauWien opened #558 "Anaconda wrongly installs message-ix=1.0.0 from arch-specific channel"
At one point Anaconda started to install version `message-ix=1.0.0` instead of the latest, e.g 3.4.0.

Forcing `conda install message-ix">1"` leads to the correct installation of `message-ix`, however with a very high memory usage/runtime (up to 45 minutes) of the conda solver on Windows. Due to that, the GitHub Actions workflow, to check this installation process, runs out of memory and cannot co

[2022-02-09 08:38] awais307 commented on #525
I think this issue is relevant beyond tutorials. While trying to add data frames for new technologies in the global model using `make_df`  , the `year_act` and `year_vtg` are not mapped according to technical_lifetime

[2022-02-09 14:14] LauWien opened #559 "ValueError in .add_year.interpolate_2d() with pandas 1.4.0"
The tests `test_add_year.py::test_add_year_cli` and `test_add_year.py::test_add_year` start to fail seemingly randomly in various PRs on different OS e.g. [here](https://github.com/iiasa/message_ix/runs/5125036229?check_suite_focus=true). Looking deeper, failing test are using `pandas==1.4.0`, passing tests are using e.g. `pandas==1.1.5`. With upgrading pandas to 1.4.0 locally these errors can be

[2022-02-09 14:36] khaeru commented on #559
The fundamental cause here is code that's not compatible with current pandas; the failing CI is only a symptom. The offending lines are: https://github.com/iiasa/message_ix/blob/1df3619a5223194171cc55197f65858ba62f16f2/message_ix/tools/add_year/__init__.py#L849-L851
[code]

NB #494 was started to simplify these very long methods that mostly duplicate upstream features and are also quite slow, but

[2022-02-09 14:42] LauWien commented on #559
Yes, was already checking where and how to adapt the code. Thank you for linking the PR!

[2022-02-15 22:35] volker-krey opened #560 "Copying and using MESSAGEix GAMS files as part of Anaconda installation on Windows 10 does not work"
Following the [MESSAGEix installation instructions](https://docs.messageix.org/en/stable/install.html#copy-gams-model-files-for-editing) I wanted to copy (and use) the GAMS code to a separate folder for editing `message-ix copy-model --set-default /path/for/model/files`. The copying did not work with exception of the folder structure. Error output said _file exists, will not overwrite_ for all fil

[2022-02-16 07:51] LauWien commented on #515
#409 is related.

[2022-02-16 09:10] khaeru commented on #515
Per today's MESSAGE meeting:
- @behnam-zakeri will come up with a small/minimal example of how to reproduce this, written as a new test on a new branch/PR.
- I will help investigate fixes to get the expected behaviour.

[2022-02-16 09:15] khaeru commented on #560
Is the issue that the files indeed already exist, and you want to overwrite them? If so, did you try `--overwrite`? https://github.com/iiasa/message_ix/blob/main/message_ix/cli.py#L28

Or, are you using a new/non-existent target path with `copy-model`?

[2022-02-16 10:39] behnam-zakeri commented on #515
Thanks, @khaeru and @LauWien for tackling this issue. I made a test for the parameter "capacity_factor" as attached. The test has three parts and can be used beyond the issue raised here.
The first two tests check if "capacity_factor" behaves as expected in a model with time slices, one with different capacity factor per time slice, and another with different duration of time slices.
The last test

[2022-02-16 10:55] behnam-zakeri commented on #515
I opened #561 to add the tests for this issue.

[2022-02-16 10:55] khaeru commented on #515
Thanks. It may take some work, but I hope we can condense this code to a little less than 300 lines.

[2022-02-16 17:09] volker-krey commented on #560
The folder that I am trying to copy the files to is empty. Despite of this, for each file to be  transferred, I get an error message of the following type `\path to model\MESSAGE\version_check.gms exists, will not overwrite`. Using the `--overwrite flag`, interestingly leads to an error message of the following kind `PermissionError: [Errno 13] Permission denied: '\path to anaconda3\\envs\\message

[2022-02-18 12:36] LauWien opened #562 "Installation with conda can take up to 45 minutes"
As @volker-krey suggested: Make in the documentation transparent that the installation of `message_ix` can take up to 45 minutes with conda, so users doesn't think the solving of the environment hung up / failed.

Please see the reason for the delay https://github.com/conda-forge/admin-requests/pull/385, https://github.com/iiasa/message_ix/pull/554 and https://github.com/iiasa/message_ix/issues/55

[2022-02-18 12:48] LauWien opened #563 "Use JupyterHub for teaching purposes"
As suggested by @volker-krey, we can think about setting up a JupyterHub for teaching purposes.
With JupyterHub, the installation of `message_ix` would be obsolete. Every user in the training could simply log into the hub and has directly the latest and correct environment on hand to run and directly dive into the MESSAGEix tutorials in Jupyter Notebooks.

[2022-02-21 09:29] gidden opened #564 "context manager for commits"
It would be useful to have a context manager for making scenario edits, e.g.

[code]

[2022-02-21 11:55] khaeru commented on #564
https://docs.messageix.org/projects/ixmp/en/stable/api.html?highlight=transact#ixmp.TimeSeries.transact
https://docs.messageix.org/en/stable/api.html?highlight=transact#message_ix.Scenario.transact

[2022-02-21 12:11] gidden commented on #564
Awesome!

[2022-02-21 12:11] #564 closed

[2022-02-23 10:01] khaeru commented on #559
https://github.com/iiasa/message_ix/pull/557#issuecomment-1048604890

i.e. perhaps this is only with pandas 1.4.0 precisely.

[2022-02-23 10:56] khaeru commented on #563
This would depend on/or essentially be achieved by #490.

[2022-02-23 12:19] #532 closed

[2022-02-23 12:19] #559 closed

[2022-02-27 14:44] gidden opened #569 "Warm start from previously solved scenario"
This issue would address potential solve speedups (e.g., I am seeing week-long solve times at the moment for some scenarios).

The idea is straightforward - for a scenario which has a solution, provide this existing solution as a "warm start" (i.e., providing a starting basis) for a new scenario run.

In principle, all components for this are available, but need to be connected properly. The steps

[2022-03-02 11:51] #562 closed

[2022-03-06 12:18] LauWien commented on #379
@OFR-IIASA, is this closed via https://github.com/iiasa/message_ix/pull/474?

[2022-03-07 06:59] OFR-IIASA commented on #379
@LauWien correct. This issue is closed via #474

[2022-03-07 06:59] #379 closed

[2022-03-14 08:21] #560 closed

[2022-03-21 10:48] khaeru opened #571 "Return vintage_and_active_years() for a specific technology"
(Text by @OFR-IIASA—thanks!)

This issue aims to summarize an ongoing discussion on ECE Slack about a new, desirable feature.

The aim of the feature is to ease the creation of technology specific parameters which correlate vintage and active years, but limited to those that are feasible given a specific technology's `technical_lifetime`.

Possibilities for implementation that were discussed:

##

[2022-03-21 11:11] khaeru commented on #571
Some thoughts here:
- Option 1 is the way to go.
  - Not option 2: This duplicates the code in the existing methods. Instead of adding many arguments to new functions, we can just remind users via the docs that all the functionality of pandas is available to them:
[code]
  - Not option 3: The reason is: code in message-ix-models is for use in the MESSAGEix-GLOBIOM modeling tools and workflows. It

[2022-03-21 12:51] OFR-IIASA commented on #569
A few thoughts on how this was done in MESSAGEV:
- warm-start requires the scenario which is to be used for this purpose to be provided as "*.bas" file. See [documentation](https://www.ibm.com/docs/en/icos/22.1.0?topic=cplex-bas-file-format-advanced-basis)
- The file will then need to be passed as an argument to the solver, which can be done via the cplex.opt file. See [documentation](https://www.

[2022-03-21 13:35] OFR-IIASA commented on #571
The function `vintage_active_years` takes the argument `ya_args`, which can be used to retrieve the activity_years for a specific `node`, `tec`, `yr_vtg`.

[code]

How about modifying this so that if `yr_vtg` is not provided, i.e. if only two arguments are provided, then the activity years for all vintage years included in the technologies `technical_lifetime` are returned?

[2022-03-21 14:04] khaeru commented on #571
I would suggest that whoever tackles this start by writing some tests to clarify the new expected behaviours.

[2022-03-24 13:22] OFR-IIASA commented on #571
@khaeru I have extended the tests for the function `vintage_and_active_years()` in the above mentioned PR. For the time being I have created a new testing script. This also includes the original test from `test_core.py`. We can later discuss where the tests should be located.

[2022-03-31 08:24] Jihoon opened #574 "Check the existing historical GDP parameter first"
I find the line in `read_data() `below checks whether `gdp_calibrate ` (imported from external excel input files) has at least 2 periods before the model horizon.

https://github.com/iiasa/message_ix/blob/2045b07c13322ce0224ce809ca1c64c1e5f64398/message_ix/macro.py#L275-L286

But this can be also imported from `self.s.par("historical_activity", {"technology":"GDP"})`. So the condition can first ch

[2022-03-31 09:31] khaeru commented on #574
Good idea!

Is having a specific "technology" set element with the ID "GDP" a generic feature of message_ix/MESSAGE-MACRO, or something particular to the MESSAGEix-GLOBIOM model family? The latter case would make it a little harder (not impossible) to have a generic implementation.

[2022-03-31 15:37] gidden opened #575 "Cleaning of `cplex.opt` causes asyncronous issues with multiple runs"
I have experienced silent errors when performing multiple `message_ix.Scenario.solve()`s simultaneously on the same computer. As best I can tell, these occur when I employ the `solve_options` kwarg, which forces a writing to disk of the `cplex.opt` file.

Upon completion, I believe this file is then garbage collected. However, other solves occuring simultaneously expect for this file to be present

[2022-03-31 15:46] gidden commented on #575
As I look through the code base, it seems like this was a known issue at the time, specifically citing [this](https://github.com/iiasa/message_ix/blob/main/message_ix/models.py#L368) comment.

[2022-04-01 17:09] LauWien opened #576 "Using solver Gurobi instead of CPLEX"
As reported, running `message_ix` using the solver Gurobi instead of CPLEX is working with adjustments to the GAMS formulation:

https://github.com/iiasa/message_ix/blob/1680452d53ed646eca1b84e7446da0f255d8351c/message_ix/model/MESSAGE/auxiliary_settings.gms#L23

To make this transparent to other users, we can extend the documentation accordingly.

[2022-04-05 16:12] LauWien commented on #475
While extending the tutorials with explanations in https://github.com/iiasa/message_ix/pull/524, I noticed there was a difference between the recommended structure of the Westeros baseline tutorial [here](https://github.com/iiasa/message_ix/blob/v3.4.0/tutorial/westeros/westeros_baseline.ipynb) and the documentation [here](https://iiasa-energy-program-message-ix.readthedocs-hosted.com/en/stable/tu

[2022-04-06 05:59] LauWien opened #577 "Pint 0.19.0 causes failures in conda CI workflow"
Possible due to the new `pint` release, all jobs in the conda.yaml workflow are failing [here](https://github.com/iiasa/message_ix/runs/5845259215?check_suite_focus=true) on the new `pint` version 0.19. Test were still succeeding on `pint=0.18` [here](https://github.com/iiasa/message_ix/runs/5828013207?check_suite_focus=true).
The following issue was already filed https://github.com/hgrecco/pint/i

[2022-04-06 08:44] khaeru commented on #577
Thanks for noting this here.

I expect the upstream fix will come out quickly, so I think we just tolerate the failures for a few days and then confirm that the fix will resolve them. To adjust workflows (not just here, but in other repos) and then reset them would be more work.

[2022-04-06 12:43] gidden opened #578 "`add_year()` as implemented results in scenario errors"
Observation: Using `add_year()` on the current main branch results in scenarios with misaligned `input`, `output` and `technical_lifetime parameters`. This can result in completely unexpected results. Below, for example, is the result of a high-carbon-tax scenario applied to an existing 5-year timestep model and the same model after using `add_year()` to add 1-year timesteps in the first 5-year pe

[2022-04-06 12:51] gidden commented on #578
#579 implements an immediate solution

[2022-04-06 12:52] gidden commented on #578
@behnam-zakeri and @khaeru can you please outline the steps necessary to implement the eventual solution?

[2022-04-06 13:08] khaeru commented on #578
That branch (`behnam-zakeri:test-add-year`) seems to be related to `iiasa:test-add-year`, which I created for #494. As the title indicates, that PR was to improve test coverage and performance. It was **not** to address bugs (such as the one described here) because, at the time, we weren't aware of any. The PR stalled because the intended behaviour for some combinations of arguments was not clear,

[2022-04-07 07:41] gidden commented on #578
To follow up here, and any further clarification would be useful from @OFR-IIASA if needed.

The data is misaligned in the sense that technoeconomic parameters (e.g., `input`, `output`) exist in the 1-year generated model beyond the time horizon implied for a vintage's `technical_lifetime`. There is no check against this in the formulation, so a technology can continue to operate as long as it has

[2022-04-07 09:24] LauWien commented on #577
The now [failing jobs on windows-latest](https://github.com/iiasa/message_ix/runs/5862737618?check_suite_focus=true) were also already filed in the same issue https://github.com/hgrecco/pint/issues/1498#issuecomment-1090345520 and will be dealt with upstream.

[2022-04-13 09:08] gidden opened #580 "Support autogeneration of RES data/diagram"
# Request

In many contexts, understanding the underlying reference energy system (RES) structure of a given scenario is needed.

Given the RES structure in a dataframe, we can then use this directly and generate visuals to support debugging and other concerns.

# Example

Generally, this can be done by intelligently interrogating `input` and `output` parameters for a scenario.

Below is an exampl

[2022-04-21 11:22] khaeru commented on #580
[Graphviz](https://www.graphviz.org/gallery/) and [NetworkX](https://networkx.org/documentation/stable/auto_examples/index.html) (including via graphviz) provide useful features. The Python graphviz package is what's used under the hood by dask (https://docs.dask.org/en/latest/graphviz.html#visualize-task-graphs), thus also by genno and `{ixmp,message_ix}.reporting`.

To produce the kind of visual

[2022-04-22 05:52] LauWien commented on #320
No one was assigned to do this by the feature freeze for v3.5.0, so we postpone to v3.6 (or later).

[2022-04-22 05:53] LauWien commented on #318
No one was assigned to do this by the feature freeze for v3.5.0, so we postpone to v3.6 (or later).

[2022-04-22 05:54] LauWien commented on #317
No one was assigned to do this by the feature freeze for v3.5.0, so we postpone to v3.6 (or later).

[2022-04-22 05:55] LauWien commented on #315
No one was assigned to do this by the feature freeze for v3.5.0, so we postpone to v3.6 (or later).

[2022-04-22 05:56] LauWien commented on #399
No one was assigned to do this by the feature freeze for v3.5.0, so we postpone to v3.6 (or later).

[2022-04-22 08:05] OFR-IIASA opened #583 "Incorrect definition of `map_tec_lifetime` due to parametrization requirements of `technical_lifetime`"
`map_tec_lifetime` is a set created as part of [data_loead.gms](https://github.com/iiasa/message_ix/blob/24934f749f679f80d4d86c47e4b8b69449031dbe/message_ix/model/MESSAGE/data_load.gms#L116). It partly relies on the parameter `technical_lifetime`. The issue is that `technical_lifetime` needs to be defined for all activity years (the exact reason is unknown at this point in time). What this means:

[2022-04-22 15:42] maximikos opened #584 "Re-installation of message-ix fails"
### Context
Having detected some irregularities in my modelling results, I decided to re-install message_ix v3.4. This, however, fails, showing a value error message (see below), and I cannot seem to get it running again. My previous installation was installed via conda on a Windows 10 machine.

### Approach
My approach for re-installing the message_ix package was as follows:

A - using conda
- De

[2022-04-22 15:57] maximikos commented on #558
A brief comment on this. When trying to re-install `message-ix` (which did not work for me, see #584), I initially also tried with `conda install message-ix">1"`. This, however, installed only version 1.0.0. Only when forcing the installation of a specific version, like `conda install message-ix"=3.4"`, the newest/specified version got installed.

(I'm running everything in the Anaconda prompt on

[2022-04-24 13:23] khaeru commented on #558
This is also what we discovered in #541 and #554, and you can see this reflected on the `main` branch in the daily check that installation from conda works:
https://github.com/iiasa/message_ix/blob/2045b07c13322ce0224ce809ca1c64c1e5f64398/.github/workflows/conda.yaml#L70

#545 updated to the documentation, but only to the earlier ">1", which turned out not to be the final workaround.

With conda-f

[2022-04-24 13:41] khaeru commented on #584
Thanks for the thorough report!

**tl;dr:** install pint != 0.19.0, != 0.19.1.

The pint ValueError you show is hgrecco/pint#1498; this affects pint 0.19.0 and 0.19.1 but should be fixed in pint 0.19.2 that was just released (hgrecco/pint#1408 / hgrecco/pint#1512).

Without tracing in detail, I think whatever you did to "try installing message-ix via pip" created a strange mix of conda and pip-man

[2022-04-25 11:41] khaeru commented on #239
Postponed, as no time to complete this week.

[2022-04-25 12:18] maximikos commented on #584
Hi @khaeru, thanks for your reply!

Yes, you were right - when I tried setting up via pip in a conda environment, there was some mix-up of stuff, even after down-/upgrading `pint`. I also couldn't really figure out why Jupyter Lab calls the packages from somewhere else than where conda installs them originally, or rather: how to relocate (if you know, mind dropping a comment?). So, for instance, w

[2022-04-25 12:26] khaeru commented on #584
Great news that it works!

I use Jupyter only rarely, and JupyterLab not at all. So while I know the former allows a selection of kernels and it matters from which conda environment you start it, I don't know how this translates to the latter, sorry. You might try posting your experience in the [Dicussions](https://github.com/iiasa/message_ix/discussions) for the benefit/input of other users.

Mea

[2022-04-25 13:03] behnam-zakeri commented on #583
Thanks @oliverfricko and everyone for the thoughts. I just summarize what was mentioned above:
1.	The issue in short is that the GAMS formulation rebuilds the vintaging (combination of vintage and active years) of a technology based on technical_lifetime, irrespective of entries in the vintage-based parameters (e.g., input, output, capacity_factor, etc.) for that technology.
2.	Due to No. 1, it is

[2022-04-25 15:19] #521 closed, assigned to behnam-zakeri

[2022-04-26 10:01] khaeru commented on #409
@behnam-zakeri could you help us interpret here:
- Is this the same issue as #515, or distinct?
- Will it be fixed by #561, or should remain open?

[2022-04-26 10:37] #515 closed

[2022-04-26 12:18] #558 closed

[2022-04-26 18:56] PelinaP opened #589 "reinstalled MESSAGE-IX 3.4 version but still getting new error; KeyError: “[ GWP ]” DefinitionSyntaxError: Could not add Context ARGGWP100 relation on line ‘6’"
My code run smoothly and suddenly had errors related to software. I successfully reinstalled the message-ix version 3.4 and in the anaconda prompt terminal, it saved in a specific directory. However, after I run my model. I get the error
KeyError: “[ GWP ]” and
DefinitionSyntaxError: Could not add Context ARGGWP100 relation on line ‘6’

at beginning of code. Please check image
![Screen Shot 2022-0

[2022-04-27 09:54] PelinaP commented on #589
@LauWien  kindly assist with above question

[2022-04-27 10:33] khaeru commented on #589
@PelinaP, please:
- Read the GitHub documentation about how to paste code/terminal output [here](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code). Screenshot images make it more difficult to read and interpret the situation.
- The template for message_ix issues prompts you to include the

[2022-04-27 10:54] khaeru commented on #577
Per https://github.com/iiasa/message_ix/pull/585#issuecomment-1107845032 this is now resolved.

[2022-04-27 10:54] #577 closed

[2022-04-27 12:06] PelinaP opened #590 "Key errors, after running my first cell in my model, with new Message-ix 3.4 version"
This my first part of code

##### load required packages
import itertools
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import ixmp as ix
import message_ix

from message_ix.utils import make_df
from tools import Plots

<!-- after i run this cell, i got the following errors

 File "<string>", line 6
DefinitionSyntaxError: Could not add Context AR6G

[2022-04-27 12:18] LauWien commented on #590
Dear @PelinaP, as I understand this new issue you filed is an answer to the following [comment](https://github.com/iiasa/message_ix/issues/589#issuecomment-1110842795) in issue https://github.com/iiasa/message_ix/issues/589.
Please comment under https://github.com/iiasa/message_ix/issues/589, with the correct way of pasting code, as @khaeru mentioned [here](https://docs.github.com/en/get-started/w

[2022-04-27 12:18] #590 closed

[2022-04-27 12:55] PelinaP commented on #590
Please help me . I have followed instructions on how to paste. But still
not correct

On Wed, 27 Apr 2022 at 21:19, Laura Wienpahl ***@***.***>
wrote:

[2022-04-27 13:14] PelinaP commented on #589
This my first part of code:

load required packages
import itertools
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import ixmp as ix
import message_ix

from message_ix.utils import make_df
from tools import Plots

#####After running the above code cell, I get these two errors.
KeyError: “[ GWP ]”
DefinitionSyntaxError: Could not add Context ARGGWP

[2022-04-27 15:06] LauWien opened #591 "Address failing nightly workflow"
As first mentioned by @khaeru in the #message_general slack channel, the nightly workflow is failing possible after merging #561, please see [here](https://github.com/iiasa/message_ix/runs/6188543164?check_suite_focus=true#step:9:20).
Please find further information under the thread in #message_general [here](https://iiasa-ece.slack.com/archives/CD0GBHHA4/p1651055949497499).

Taking the liberty to

[2022-04-27 15:10] LauWien commented on #48
In #524 this issue is partially addressed. A better explanation is implemented in the Westeros baseline tutorial. To close this issue a more detailed explanation should be added in the documentation.

[2022-04-27 16:01] behnam-zakeri commented on #591
I tested this on one of our recent ENGAGE scenarios (`ixmp_dev\ENGAGE_SSP2_v4.1.7\baseline`) and found interesting results. I ran the scenario (A) without the changes introduced in https://github.com/iiasa/message_ix/pull/561 and (B) once after those changes.
1. The objective value, which was the cause of the error in nightly tests, remains almost the same between A and B scenarios (3095978 versus

[2022-04-27 16:17] LauWien commented on #591
Thank you for checking @behnam-zakeri!
As for 1. and 2., if I understand correctly, we can update the objective accordingly, since it is expected behavior and we will tackle 3. in a different issue / PR?

[2022-04-27 16:24] behnam-zakeri opened #592 "Techs incorrectly excluded from `capacity_factor` via `map_tec_time`"
It seems in [the GAMS formulation](https://github.com/iiasa/message_ix/blob/705f55f648ede9a9a927411a640d37620f354020/message_ix/model/MESSAGE/data_load.gms#L148) some technologies are omitted from `capacity_factor`, even though defined by the user. These technologies do not have `input`, `output` commodity defined and do not appear in `relation_activity`; that's why they are not in the set `map_te

[2022-04-27 16:38] behnam-zakeri commented on #592
Since this `map_tec_time` is created in JAVA backend, it's not easy to see how it is calculated.

[2022-04-28 07:02] khaeru commented on #591
One point of information: the nightly scenarios were exported some time ago (would need to check to see precisely when). So in a way, loading them and running them is a check that _newer_ versions of message_ix can handle scenarios created with _older_ versions of the code: both loading & running without error and producing numerically identical output.

This requirement is not actually super well

[2022-04-28 07:06] khaeru commented on #591
Per Behnam's point (1), this tells us there is something specific about the particular scenario we use for the nightly tests that makes its objective value sensitive to this recent change. This characteristic is **not** in the other, ENGAGE scenario.

It would be nice to try to identify what this is, so we could warn users: “if your scenarios have such-and-such characteristics, outputs may change”

[2022-04-28 09:01] LauWien opened #593 "Adapt a common `make_df()` style in Westeros tutorials"
In PR https://github.com/iiasa/message_ix/pull/524 @khaeru [mentioned](https://github.com/iiasa/message_ix/pull/524#discussion_r857143550), that a common style of creating dataframes could be introduced for further improvements.

[2022-04-28 09:39] khaeru commented on #592
A thought on implementation: since the change here is to _expand_ (i.e. to change the set elements from the union of {A, B, C} to the union of {A, B, C, D}), we can implement the full logic in Python using the mechanism introduced in #561/#514. This runs before the Java code linked above. So the Java code linked above becomes redundant; it will simply re-add elements to these mapping sets that hav

[2022-04-28 09:44] behnam-zakeri commented on #591
Thanks Paul. Good points. I agree that we should test some old scenarios for backward compatibility. Unless we change the code or resolve a bug as this PR does. Then we can update the old check values if the scenario itself is still valid. Especially in this case, as the change of the objective function is significant, I agree that a more detailed investigation can be useful.

[2022-04-28 10:11] PelinaP commented on #589
This my first part of code:

load required packages
import itertools
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import ixmp as ix
import message_ix

from message_ix.utils import make_df
from tools import Plots

#####After running the above code cell, I get these two errors.
The output of message-ix 3.4 are as follows;
KeyError: “[ GWP ]”
Defini

[2022-04-28 14:02] LauWien commented on #475
As stated by @OFR-IIASA in slack, the following tutorials are basics:
- westeros_baseline.ipynb
- westeros_emissions_bounds.ipynb
- westeros_emissions_taxes.ipynb
- westeros_fossil_resource.ipynb
- westeros_baseline_using_xlsx_import_part1.ipynb
- westeros_report.ipynb

which leaves the following to more advanced tutorials:
- westeros_firm_capacity.ipynb
- westeros_flexible_generation.ipynb
- west

[2022-04-28 16:12] behnam-zakeri commented on #592
Thanks @khaeru for the thoughts. I checked this through the equations again. As I understand, `map_tec_time` is the mapping of technologies to sub-annual time slices. Therefore, we can't add capacity related parameters like `relation_total_capacity` to this mapping, because capacity is dealt with only the annual level in the formulation. The use of this mapping in the equation for `capacity_factor

[2022-04-28 16:22] #502 closed

[2022-04-28 16:35] khaeru commented on #165
On reflection, this is an abuse of the Python packaging system, so closed.

Things like [iiasa/actions/setup-gams](https://github.com/iiasa/actions/tree/main/setup-gams) (for GitHub Actions) serve these needs, and can be used directly or adapted in new workflows for things like rendering tutorials. #490 would involve such an adaptation for Docker.

[2022-04-28 16:35] #165 closed

[2022-04-28 16:35] behnam-zakeri commented on #580
Thanks @gidden and @khaeru for the thoughts. I believe what one of the collaborators developed under https://github.com/iiasa/message_data/pull/164 can inform this discussion or even be transferred to `message_ix`. Using this feature, one can generate the Sankey diagram of a scenario, using arrows with different sizes indicating the amount of commodity flow as well. This has been useful in debuggi

[2022-04-28 16:37] khaeru commented on #576
Another option would be to make this configurable through the Python API; that would also address #40.

[2022-04-28 16:39] khaeru commented on #280
May be related to #120.

[2022-04-28 16:42] khaeru commented on #262
Closed by #557.

[2022-04-28 16:42] #262 closed

[2022-04-28 16:43] khaeru commented on #575
This may also be a duplicate of #250.

[2022-04-28 16:45] khaeru commented on #262
This was also a duplicate of #216, I think.

[2022-04-28 16:53] behnam-zakeri commented on #578
Thanks @gidden and @khaeru for the notes, and sorry for the delay; I'm catching up after return from the leave. There are a few points here that I mention:
1. When `add_year()` was initially developed early 2018, this was discussed in the weekly meeting (sorry, I cannot find the notes) that this feature should work without cross-checking the generated data with `technical_lifetime`. My impression

[2022-04-28 16:54] khaeru commented on #216
Closed by #557.

For those coming back here later:

The use of separate properties files (for JDBCBackend config) has been deprecated, and this info is now read through the single user configuration file, or set at runtime.

This is done in the test suite via the `tmp_env` fixture (which predates this issue; see iiasa/ixmp#137).

This is described at [‘Configuration’ in the ixmp docs](https://docs

[2022-04-28 16:54] #216 closed

[2022-05-03 08:05] #48 closed

[2022-05-04 08:55] PelinaP commented on #589
@LauWien I have made changes here. Kindly asking if you can be of help on this questions.

[2022-05-04 09:14] khaeru commented on #589
@PelinaP it seems you did not read or understand my earlier comment, here: https://github.com/iiasa/message_ix/issues/589#issuecomment-1110842795

1. You tagged a specific maintainer, again.
2. You still have not given the output of `message-ix show-versions`.

Please do _us_ the kind favour of reading and understanding. We can not help you until you do (2) and stop doing (1).

[2022-05-04 09:29] PelinaP commented on #589
Dear Paul,
I have read your comments. When you say output of message ? Can you explain
this ? Because isn’t this the error message. What do you mean by output?
I have clearly attached the error message .
Sincerely,
Precious
On Wed, 04 May 2022 at 18:14, Paul Natsuo Kishimoto <
***@***.***> wrote:

[2022-05-04 11:56] #475 closed

[2022-05-04 12:40] behnam-zakeri commented on #409
@khaeru thanks for picking this. No, this is a separate issue. Indeed, this will remain an issue even after the improvements in #561 . So, it should remain open.

[2022-05-04 12:45] behnam-zakeri commented on #409
However, now that we have tests for `capacity_factor`, it should be possible to resolve this and test it. I will give it a try, but perhaps after the release.

[2022-05-04 12:48] khaeru commented on #409
Thanks! Adjusted the milestone accordingly.

[2022-05-05 06:47] #496 closed

[2022-05-05 06:52] LauWien opened #599 "Extend documentation on periods befor the first model year"
https://github.com/iiasa/message_ix/pull/598 started to explain the values of the historical capacity and activity more detailed. However, as stated in comment https://github.com/iiasa/message_ix/pull/598#pullrequestreview-962906701

[2022-05-06 05:07] PelinaP commented on #589
Output of message-ix show-versions
(base) C:\Users\energy>message-ix show-versions
Traceback (most recent call last):
  File "C:\Users\energy\anaconda3\lib\site-packages\pint\context.py", line 324, in from_definition
    dst = to_base_func(relation.dst)
  File "C:\Users\energy\anaconda3\lib\site-packages\pint\registry.py", line 770, in get_dimensionality
    return self._get_dimensionality(input_u

[2022-05-06 06:20] khaeru commented on #589
Thank you. Please then give the output of `pip list` and `conda list` on the command line.

[2022-05-06 06:26] PelinaP commented on #589
pip list
Package                            Version
---------------------------------- --------------------
alabaster                          0.7.12
anaconda-client                    1.9.0
anaconda-navigator                 2.1.1
anaconda-project                   0.10.1
anyio                              2.2.0
appdirs                            1.4.4
argh                               0.26.2
ar

[2022-05-06 15:05] behnam-zakeri opened #601 "`message_ix.Scenario.rename()` does not work as expected"
`message_ix.Scenario.rename()` is supposed to rename a set element, i.e., replacing the old name with a new name in all `message_ix` sets and parameters. However, this is not the case, i.e., not all sets and parameters are updated with a new name correctly, and there is no error or warning thrown stating this incompleteness. One can for example run the following code and check this.

It seems the

[2022-05-09 11:44] khaeru commented on #589
With this information, we can confirm this is a known problem, e.g. #557:

You should install Pint version 0.19.2, or 0.18.

Please confirm if this fixes the issue.

[2022-05-10 03:19] PelinaP commented on #589
![Screenshot 2022-05-10 114754](https://user-images.githubusercontent.com/104423589/167533619-5ced597f-c0e6-4071-9649-1d5f43236ca4.png)

it did not solve the error. it now brings a new error.

This my first part of code:
# load required packages
import itertools
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import ixmp as ix
import message_ix
impo

[2022-05-10 03:59] PelinaP commented on #589
I now have this issue after downloading pint

![Screenshot 2022-05-10 125032](https://user-images.githubusercontent.com/104423589/167539610-15e31d1d-1d43-4abc-94be-4ba12f7069f9.png)
![Screenshot 2022-05-10 125325](https://user-images.githubusercontent.com/104423589/167539632-8e30f2bc-c976-4b51-8631-6c9abc838f95.png)

key error;RuntimeError: unhandled Java exception:
Unable to obtain connection fro

[2022-05-10 06:07] OFR-IIASA commented on #591
As for point 3, the `map_tec_time` may need to be extended to also include `relation_new_capacity` and `relation_total_capacity`. This is where we see entries for the technology "csp_sm1_ppl".

[2022-05-10 07:50] adrivinca commented on #337
suggested solutions, which I have not tested

- using `solve_options={'barcrossalg': '2'}` to avoid unscaled infeasibilities

- adding `scaind=1` in the 'cplex.opt' file, may allow a faster solution. see the [CPLEX documentation](https://www.gams.com/latest/docs/S_CPLEX.html#CPLEXscaind)

[2022-05-10 07:57] gidden commented on #337
Quick note - you _should_ be able to invoke `scaid` in the same way via `solve_options`

[2022-05-10 13:47] gidden commented on #591
I opened #603 as one suggestion of how to deal with these issues in the future. To discuss at our message meeting.

[2022-05-10 14:52] LauWien commented on #591
Thank you for this :)
If this PR is still to be discussed / WIP, please could you convert it to a draft and remove me as a reviewer or should I approve this PR to see if the on-approve workflow runs?

[2022-05-10 15:39] gidden commented on #591
That was my thinking, I should have said so explicitly, sorry!

[2022-05-10 15:56] LauWien commented on #591
It looks like it works ([Link](https://github.com/iiasa/message_ix/runs/6373449410?check_suite_focus=true)).

[2022-05-11 11:10] OFR-IIASA commented on #583
As per discussion between VK, DH, LW and OF:
The current definition of `map_tec_lifetime` is in line with the originally design. In addition to `input`/`output` being determining a technologies activity across different vintages, the vintage independent relations are also considered.
The two follow up tasks:
- [ ] Update the documentation to clearly describe the above behavior.
- [ ] Add two new p

[2022-05-12 03:19] PelinaP opened #605 "no module named message-ix"
This is the first part of my code,

# load required packages
import itertools
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import ixmp as ix
import message_ix

from message_ix.utils import make_df
from tools import Plots

When i run it, i get the error message

ModuleNotFoundError                       Traceback (most recent call last)
~\AppData\

[2022-05-18 07:18] volker-krey commented on #583
@danielhuppmann, as discussed in our meeting, would you be able to add a couple of paragraphs to describe the current behavior of MESSAGEix to the documentation. In my view this fit best in the mapping sets section (https://docs.messageix.org/en/stable/model/MESSAGE/sets_maps_def.html#section-maps-def).

[2022-05-20 09:38] Jihoon commented on #583
Will it be possible for anyone to clarify this reason for having `technical_lifetime`  based on year_act?

[2022-05-20 10:00] OFR-IIASA commented on #583
There are three determinants which define whether a technology gets assigned the map_tec_lifetime. `input`, `output` and `relation_activity`. `relation_activity` is vintage independent, hence the indication of the lifetime is needed for all activity years. So when `map_tec_lifetime` is populated for the example above, where input and output is only defined for the vintage 2040, the `relation_activ

[2022-05-20 14:52] filofossati opened #608 "Time Steps & Time of Departure Customization"
Hi There! I have two questions:

if it is possible to reduce the time steps simulation from 5 years down to 1?
And if it is possible to manually change the time of departure of the simulation? for instance right now I believe the base year is 2020; but I was wondering if I could change that and for example making the simulation begin in 2019?
Thanks a lot in advance!
Filo

[2022-05-23 08:37] volker-krey opened #609 "`technical_lifetime` not defined for historical vintages in Westeros tutorial"
#### Problem description
The `technical_lifetime` lifetime parameter for historical vintages of the power plant (and bulb) technologies is not defined. Usually, this issue does not cause a problem with running the Westeros tutorial, because the `message_ix` takes the `technical_lifetime` of the `first_period` when constructing the set `map_tec_lifetime`:
https://github.com/iiasa/message_ix/blob/b5

[2022-05-25 09:35] #571 closed

[2022-05-25 10:31] OFR-IIASA commented on #591
@khearu and @behnam-zakeri I have noticed that we may have the same issue here as already highlighted in [an earlier PR](https://github.com/iiasa/message_ix/pull/514). The issue is that `enforce()` in `models.py` is only called when the solving with `solve(model="MESSAGE")`, it seems to be missing [here](https://github.com/iiasa/message_ix/blob/9566826be354d39e2b9693d4bba3351aeac73369/message_ix/m

[2022-05-25 10:48] khaeru commented on #591
Good catch. We need to be careful with inheritance of those classes (i.e. the MESSAGE_MACRO Python class needs to do MESSAGE things and MACRO things), and I think this slipped through.

If you copy MESSAGE.enforce to MACRO.enforce (this will not be the solution, only a check) does that help?

[2022-05-25 11:00] OFR-IIASA commented on #591
yes this solves the issue. In the gdx file, `is_capacity_factor` is now populated.

[2022-05-25 12:23] OFR-IIASA commented on #591
I have added the quickfix to a test [PR](https://github.com/iiasa/message_ix/pull/612) and the nightly tests have also passed

[2022-05-25 12:41] OFR-IIASA commented on #591
Upon resolving this issue, I would suggest to make a new mini-release v3.5.1?

[2022-05-25 14:12] khaeru commented on #591
Agreed we should release quickly to fix the bug.

Ordinarily this would be v3.5.1, yes, but a release will include the changes from #572 that are now on `main`. That marked some deprecations and—as mentioned at https://github.com/iiasa/message_ix/pull/572#issuecomment-1130400005—the [Semantic Versioning specification #7](https://semver.org/#spec-item-7) says “[Minor version Y (x.Y.z)] MUST be incr

[2022-05-25 16:39] #591 closed

[2022-05-30 09:00] Jihoon opened #616 "Clarification of MACRO equation COST_ENERGY"
There have been questions raised for the Taylor formulation of Equation [COST_ENERGY ](https://github.com/iiasa/message_ix/blob/c497a5fd1993d2d63e8c2587b83764471de17d76/message_ix/model/MACRO/macro_core.gms#L273-L290)in MACRO.

- Internal discussion: https://iiasa-ece.slack.com/archives/CD0GBHHA4/p1637231296047600
- External user: https://github.com/iiasa/message_ix/discussions/615

The question i

[2022-05-30 09:00] Jihoon commented on #616
The theoretical paper behind this: https://www.sciencedirect.com/science/article/pii/S0360544299000638

[2022-05-30 13:36] khaeru commented on #543
I've relabeled this. While it _is_ an intuitive and straightforward thing to expect given the brief/vague description of this argument, the docs also don't promise that this should happen, it's not a bug.

[2022-05-30 13:38] khaeru commented on #583
Any documentation or resolution here could hopefully also clarify/resolve #137 from 2018.

[2022-06-02 12:45] OFR-IIASA opened #618 "`vintage_and_active_years` returning KeyError"
When calling the function `vintage_and_active_years` using the following code as an example `s.vintage_and_active_years(ya_args=("R11_WEU", "coal_ppl", "1990"))`, the following error occurs:

[code]
The error occurs, because the row being filtered isnt indexed with "0".

[code]
returns
[code]

[2022-06-02 12:49] khaeru commented on #618
Please try inserting [`reset_index()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html):
[code]

[2022-06-02 12:49] khaeru commented on #618
We could also consider making this a defined behaviour of ixmp, i.e. to always return data frames with the default index.

[2022-06-02 12:53] OFR-IIASA commented on #618
The suggested code changes above will resolve the issue.

[2022-06-04 00:09] manoharpotli opened #619 "Can I know how the supply and demand balancing is performed in Messageix if fixed, variable and capital costs are same for all generation units?"

[2022-06-06 08:39] BinghaoHe opened #620 "Fail to import Reporter from message_ix.reporting"
When I run the Westeros tutorial (`westeros_baseline.ipynb`), I fail to import Reporter in the "Plotting Results" section.
when running the script:
`from message_ix.reporting import Reporter`

It raises an error:
`ImportError: cannot import name 'add' from 'ixmp.reporting.computations' (C:\Users\A\anaconda3\envs\message_env\lib\site-packages\ixmp\reporting\computations.py)`

[2022-06-06 13:30] khaeru commented on #620
When creating this issue, you should have seen a template for a bug report. The template prompts you to include the output of `message-ix show-versions`. Without this information it is very difficult to guess at potential causes for the error you mention.

[2022-06-08 09:55] OFR-IIASA opened #624 "Westeros tutorials inconsistent with cahnges made to baseline"
Recent changes to the Westeros baseline scenario have resulted in inconsistencies with scenarios building off of the baseline:
- westeros_historical_new_capacity.ipynb
  - [ ] Change baseyear demand = 100GWa
  - [ ] Change test above the definition of demand to match
  - [ ] Add FOM cost to comparison of gas_ppl and coal_ppl.
  - [ ] Remove "i.e. as we haven't defined fixed operating and maintenan

[2022-06-14 04:29] PelinaP opened #626 "GAMS errored with return code 3: There was an execution error"
My baseline solves, and two scenarios also solves when i run code but when i try another scenario with correct code, i get this error. I'm accessing message environment  through anaconda navigator. Please assist me with this.

ModelError                                Traceback (most recent call last)
Input In [14], in <cell line: 1>()
----> 1 scen.solve()

File ~\anaconda3\envs\message_env\lib\si

[2022-06-14 09:45] OFR-IIASA commented on #626
Hi Pelina, in order to see what is going on, you can look at two files. Both are located in your message_ix repository folder `message_ix/model/`:
1. `MESSAGE_run.log` -> this file will provide a first glimpse of the log output resulting from the optimization process (CPLEX) which is normally also printed in the command-line window.
2. `MESSAGE_run.lst` -> This provides more details related and is

[2022-07-01 10:49] #618 closed

[2022-07-07 03:05] PelinaP commented on #626
I found that the issue is my demand and supply despite being equal. infeasibility row 'COMMODITY_BALANCE_GT(Zambia.Electricity.Secondary.2019.Jan)':  0 >= 0.0374603.

I am not sure how to solve this because my base generation for January is equal to the demand. Hence where is message calculating this imbalance?

[2022-07-20 11:41] #239 closed

[2022-07-21 12:41] khaeru commented on #337
I confirm you can.

Basically I think the issue is here:
https://github.com/iiasa/message_ix/blob/51ccdfb631e815bc4142df45650f908900c9dbf6/message_ix/model/MESSAGE/model_solve.gms#L29-L40

The conditional is not catching whatever attributes of `MESSAGE_LP` reflect this "optimal with unscaled infeasibilities", and so it does not `abort`.

[2022-07-26 09:33] awais307 opened #629 "Scenario run gives `is_capacity_factor` key error"
#### Code sample or context

For the past few weeks, it is being observed and also discussed the #message slack channel about the `is_capacity_factor` issue on the latest message_ix branch. As per colleagues, this issue was solved earlier through PR#613 but @adrivinca @GamzeUnlu95 along with I experience this on the latest message_ix branch.

The link to the discussion  thread on slack is [here](h

[2022-07-27 14:17] behnam-zakeri opened #630 "How to remove a variable from a scenario?"
`message_ix.Scenario` has methods for removing sets and parameters, `remove_set()` and `remove_par()`, respectively. However, there seems not to have such a method for removing a variable (e.g., `remove_var()`). This makes it almost impossible to remove an extra variable, which may was added by mistake, or more importantly to change the index sets of a variable by removing and initializing that va

[2022-07-27 14:34] behnam-zakeri opened #631 "Re-initializing existing items"
In the current code of `message_ix`, the user can specify new items in the file `models.py` to be initialized as new _sets_, _parameters_, or _variables_ in a scenario. However, it is not possible to re-initialize an existing item. In other words, if that item is already initialized, the try-except method passes with the new index sets being ignored. For example, if the user introduces a set calle

[2022-07-27 14:42] behnam-zakeri opened #632 "Storage mapping sets do not consider `mode` of operation of technologies"
The storage equations in `message_ix` work based on a mapping of charger-discharge technologies to their respective storage device, through the set `map_tec_storage`. However, this mapping set is defined only with technologies names, not considering the mode of operation. As such, if a storage technology has more than one mode of operation, this would create an issue. Also, including the mode of o

[2022-07-28 07:19] khaeru commented on #630
I will transfer this to ixmp, as it concerns features that aren't located in `message_ix` *per se*.

[2022-07-28 07:26] khaeru commented on #631
Thanks for this good summary. I agree that the key concerns here are (a) backwards (in)compatibility and (b) “spooky” behaviour. By “spooky”, I mean unexplained, e.g. the user updates to a new version of message_ix and suddenly/silently changes are automatically made to certain parameter data that they may have entered themselves, possibly causing changes in output that would then be puzzling. It'

[2022-07-28 13:17] behnam-zakeri commented on #631
Thanks @khaeru for the quick and detailed response. I agree with all you mentioned. From the three options you suggested when re-initializing an existing item, I would vote for the first one. If the existing item is not empty, the user should decide if it is safe to remove the item, re-initialize it with new index sets, and populate data for that item anew.

[2022-08-01 12:07] fwitte commented on #620
I do get the same error. Checking the packages `add` and `product` are simply not existing in that module. I use

Python: 3.9.13
ixmp: 3.5.0
message_ix: 3.1.0

[2022-08-01 12:14] fwitte opened #634 "Wrong import of make_df in austria_tutorial.ipynb"
make_df is imported from the wrong location. It should be `from message_ix.utils import make_df`  instead of `from message_ix.util import make_df`.

[2022-08-01 12:16] khaeru commented on #620
I suspect this combination will never work together; at least, we do not advertise or test that it will. You should run the latest releases of both ixmp _and_ message_ix.

[2022-08-01 12:24] khaeru commented on #634
The bug report template prompts you to give the version of message_ix and other packages you are using. While you don't say here, I guess from https://github.com/iiasa/message_ix/issues/620#issuecomment-1201115359 that you are using message_ix 3.1.0.

`message_ix.utils` no longer exists as of 3.2.0: https://github.com/iiasa/message_ix/blob/51ccdfb631e815bc4142df45650f908900c9dbf6/message_ix/utils.

[2022-08-01 12:25] #634 closed

[2022-08-01 12:40] fwitte commented on #620
Those are the versions I have gotten by following the installation instructions for conda.

[2022-08-03 11:12] khaeru commented on #620
This is a distinct issue, then. We have had some other issues in the past with conda/Anaconda refusing to install the most recent versions of `ixmp` and/or `message-ix`, visible at https://github.com/iiasa/message_ix/search?q=conda&type=issues. These were variously problems in conda itself; in message-ix's packaging; and with users' individual environments.

Please open a new issue describing exac

[2022-08-04 06:37] fwitte opened #637 "conda installs non matching versions of message-ix and ixmp"
#### Code sample or context

With

- windows 10
- [miniforge3 version 4.12.0-0 (64 bit)](https://github.com/conda-forge/miniforge) -> conda-forge is the default channel

and

[code]

I do get the following versions

| Name       | Version | Build        | Channel     |
|------------|---------|--------------|-------------|
| python     | 3.9.13   | hcf16a7b_0_cpython | conda-forge |
| ixmp       |

[2022-08-04 10:09] khaeru commented on #637
Thanks!

Can you try:
[code]
and report the outcome?

[2022-08-04 12:46] fwitte commented on #637
Works now, thanks. Kind of strange, that conda does not find the most recent version automatically. The environment solving on the installation also takes a lot more time than it should btw..

Anyway, thank you so far, have a nice day!

[2022-08-04 12:46] #637 closed

[2022-08-09 09:44] khaeru opened #639 "Control slacks and other global settings through ixmp"
Some settings in the MESSAGE GAMS implementation are controlled through global %-macros, e.g. `%SLACK_CAP_NEW_BOUND_UP%`: https://github.com/iiasa/message_ix/blob/51ccdfb631e815bc4142df45650f908900c9dbf6/message_ix/model/MESSAGE/model_core.gms#L1179-L1182
This macro is set, and can *only* be modified, through one of: https://github.com/iiasa/message_ix/blob/51ccdfb631e815bc4142df45650f908900c9dbf6

[2022-08-17 15:18] khaeru commented on #315
Removing the milestone entirely. It can be re-added if/when the team decides to schedule/assign the work.

[2022-08-17 15:19] khaeru commented on #317
Removing the milestone entirely. It can be re-added if/when the team decides to schedule/assign the work.

[2022-08-17 15:19] khaeru commented on #318
Removing the milestone entirely. It can be re-added if/when the team decides to schedule/assign the work.

[2022-08-17 15:19] khaeru commented on #320
Removing the milestone entirely. It can be re-added if/when the team decides to schedule/assign the work.

[2022-08-17 15:20] khaeru commented on #399
Removing the milestone entirely. It can be re-added if/when the team decides to schedule/assign the work.

[2022-09-08 13:07] OFR-IIASA commented on #337
After playing with some alternatives, I have the following solution to counteract the issue. I have added a few lines to generate a second "cplex.opt" file as "cplex.op2" in "models.py", which is copy of the first with the addition of the argument "barcrossalg = 2". In "MESSAGE-MACRO_run.gms", there is now an if-statement that checks for the solve-status of MESSAGELP. Unscaled infeasibilities have

[2022-09-13 02:33] PelinaP opened #646 "GAMS 34.3.0 ; The MESSAGEix Integrated Assessment Model C o m p i l a t i o n"
I recently downloaded the gams 34.3 version. I was initially using Gams 30.3.  I cannot see the full Messageix  Integrated Assessment Model C o m p i l a t i o n file in this model. where is the message_run lst file (full copilation file) located which can be run in gams and shows the output errors.

[2022-09-13 06:03] #646 closed

[2022-09-13 06:43] PelinaP opened #647 "GAMS/Cplex does not solve MIP"
Error Cannot open parameter file "C:\Users\energy\anaconda3\envs\message_env\Lib\site-packages\message_ix\model\cplex.opt"
*** Error Error code = 2; No such file or directory
----

#### Code sample or context
I downloaded new version of Message-ix 3.6 and also gams version of 34.3. The cplex model worked fine with gams version 30.3 and message-ix version 3.0 . I would like to find out why i reciev

[2022-09-16 11:04] OFR-IIASA commented on #401
HPG901 will cease operation.

[2022-09-16 11:04] #401 closed

[2022-09-19 07:32] volker-krey commented on #647
The original GAMS coming with `message_ix` does not include any mixed integer program (MIP) model specification. If you modified the GAMS code and added a MIP version of  `message_ix`, it is difficult for us to help with that. The error message related to the file `cplex.opt` not existing should not be the reason for the infeasibility of the problem. `cplex.opt` is an optional file to set solver-s

[2022-09-20 02:56] PelinaP opened #651 "Running large models(Message-IX) on NEOS for free"
Can you run an open-source GAMS implementation of the MESSAGE energy system
model on the free Neos server for longer optimization problems? Because of the combination of the python code in jupyter and gams compilation document, is NEOS server a suitable software?

[2022-09-20 13:46] OFR-IIASA opened #652 "Levelized costs not calculated for technologies with only `var_cost`"
The `levelized_cost` are used to determine the penalty associated with the additional relaxation of dynamic constraints via the `soft_activity_lo/_up` in combination with `level_cost_activity_soft_lo/_up`.

Currently, the calculation of [levelized_costs](https://github.com/iiasa/message_ix/blob/1680452d53ed646eca1b84e7446da0f255d8351c/message_ix/model/MESSAGE/scaling_investment_costs.gms#L35) excl

[2022-09-20 19:22] behnam-zakeri commented on #652
@OFR-IIASA thanks for opening this. I believe `levelized_cost` is defined as the cost of one unit of _capacity_ of a given technology levelized over the lifetime. So, indeed it's a capacity-related parameter, and should be read as "Levelized cost of one unit of capacity". This is not equal to what is more commonly known as "Levelized cost of electricity" or LCOE. I have two suggestions for the way

[2022-09-27 06:31] PelinaP opened #655 "the IX modeling platform using the local default database. mp = ix.Platform()"
I run my baseline and message-ix solved optimally. i run my scenario and message-ix errored.
# launch the IX modeling platform using the local default database
mp = ix.Platform()
RuntimeError                              Traceback (most recent call last)
Input In [2], in <cell line: 2>()
      1 # launch the IX modeling platform using the local default database
----> 2 mp = ix.Platform()

File ~\a

[2022-09-27 07:01] #655 closed

[2022-10-13 05:41] Robinson950619 opened #659 ""No JVM shared library file (jvm.dll) found" issue and the display disorder about the web interface of "The MESSAGEix framework""

[2022-10-13 06:54] Robinson950619 commented on #659
Dear contributors,
        I'm a fresh postgraduate who first contact with the MESSAGEix model and desire to grasp and develop it. Due to my limitted knowledge, I have met some issues when I installed message-ix on Anaconda and read the relevant contents on the web “The MESSAGEix framework”. Two issues might be as follows:

        The first one is that I have met the issue "No JVM shared library

[2022-10-13 07:53] Robinson950619 commented on #659
Here are my conda list and message-ix platform list,
![image](https://user-images.githubusercontent.com/111039940/195536049-abfc6d61-20bc-46ad-9d89-e65562167b38.png)

[2022-10-13 09:03] gidden commented on #659
Hi @Robinson950619 - first thank you for reporting this error. We have observed this infrequently with new users and would like to try our best to find a solution. Can you start by showing us the full output of `conda list` in your environment? You can do that by writing it to a file like

[code]

and attaching that here. Thanks!

[2022-10-13 12:47] gidden commented on #659
We have done a bit of digging (thank you @awais307 !). The current `ixmp` conda recipe picks up a newer version of `openjdk`:
[code]

We observe that with an older version of `openjdk`, `message-ix show-versions` works as expected on a colleagues computer

[code]

We were able to show that with a fresh install and intentional downgrade, we can 'fix' the issue.

@Robinson950619 - if you do this as

[2022-10-14 06:53] Robinson950619 commented on #659
Dear Gidden,
         Thank you so much for your suggestions in details! I think your solution worked so well. I believe the firrst issue about "No JVM shared library file (jvm.dll) found" has dealt with. I has downgraded the openjdk as what you said, and I got

         ixmp:        3.5.0
         message_ix:  3.6.0
         message_ix_models: None
         message_data: None

         click:

[2022-10-14 07:01] gidden commented on #659
For future reference to others looking at this issue, @khaeru found the likely culprit in the openjdk feedstock: https://github.com/conda-forge/openjdk-feedstock/issues/107

[2022-10-14 08:47] Robinson950619 commented on #659
Thank you so much for your reply, Gidden. So I want to make sure about what you have suggeted on me. Do you mean that the installation of my GAMS may have some errors, so shall I re-install GAMS agian following the installation instructions?

[2022-10-14 08:51] Robinson950619 commented on #659
And thank you so much about what you have shared about the openjdk feedstock from Khaeru, I will read it carefully in details. If I get the solutions or still have some troubles, I would like to write to you. Thank you for your suggetions and instructions again. Have a nice day!

[2022-10-14 09:03] gidden commented on #659
Your error indicates that the message library can not find the installed GAMS executable, so it would be good to check through the installation notes to make sure they were followed correctly. If this issue persists, could you open a new issue here, please? That way we can keep this discussion purely about the Java installation problem you ran into

[2022-10-15 00:56] Robinson950619 commented on #659
Okay, I will. If I still meet some errors after I check through the installation notes of GAMS, I will open a new issue. Thank you so much for your suggestions and instructions. Have a nice day! Thank you!

[2022-10-15 09:24] Robinson950619 opened #660 "“MissingKeyError”and"NameError"in the "westeros_baseline.ipynb""
Dear contributor,
         I'm a fresh postgraduate who first contact with the MESSAGEix model and desire to grasp and develop it. With the help of the Gidden who is  the member of IIASA, I have finish the progress of the installation succesffuly. I'm very grateful to him. However, when I tried to run the model of the "westeros_baseline.ipynb", I got the first error on the step **"Plotting Results

[2022-10-18 07:04] OFR-IIASA opened #661 "Enhancement of tests to cover `levelized_cost`"
Currently it is not possible to retrieve the parameters calculated endogenously to the core GAMS formulation as part of the solving workflow. These are saved in the GDX output file but cannot be retrieved from the MESSAGEix.Scenario object.

Tests should be added for the `levelized_cost` calculation, once the parameter can be retrieved.

[2022-10-18 09:53] awais307 commented on #659
Closing this issue as I understand the problem mentioned in issue has been resolved.

[2022-10-18 09:53] #659 closed

[2022-10-18 11:37] Robinson950619 commented on #660
Could someone HELP me solve this problem? I couldn't continue my model right now. @_@

[2022-10-18 13:47] OFR-IIASA opened #662 "Enhance Westeros baseline tutorial to better serve testing purposes."
In order to provide a better basis for testing some of the GAMS code, a possibility would be to make use of the Westeros tutorials. This means some of the core features of the baseline tutorial would need to be adapted.
This for example would include:
- timeperiods with varying duration to test the changes made in PR #654. (Alternatively, a test could be made to cover the `add_year` function, ther

[2022-10-19 06:57] awais307 commented on #660
Can you please print `conda list` and tell the `genno` package version ?

[2022-10-19 09:12] khaeru commented on #659
@awais307, I would say we have a *mitigation* for this issue, but the root cause mentioned at https://github.com/iiasa/message_ix/issues/659#issuecomment-1278572419 continues to exist and so this may continue to affect users until it is addressed.

However, this affects message_ix only via ixmp and its JDBCBackend, so I opened a new issue with a concise description and linked back to this one. If

[2022-10-19 09:29] khaeru commented on #662
I would recommend we do not do this. A few reasons:
- The tutorial tests are flaky. Every time the nightly CI workflow runs, 1 to 2 of the 12 jobs fail due to time-outs in the nbclient package used to invoke the tutorials. This occurs not infrequently on PR branches, as well.
- The tutorial tests are (by far) the slowest part of the test suite.
- In #196, we already added [`message_ix.testing.make

[2022-10-19 09:39] OFR-IIASA commented on #662
Thanks for comments Paul. I certainly wasnt aware that the tutorials fail so often.

In the meantime, I have made an adaptation of `make_westeros()` to add different `model_horizon`. This seems to do the job for the purpose of what I want to achieve.

[2022-10-19 10:04] #662 closed

[2022-10-20 15:17] behnam-zakeri commented on #651
@PelinaP thanks for asking this question. With a quick check, it seems NEOS server has some requirements for the GAMS files submitted there, including, having the model specified in one single file and avoiding the use of `$INCLUDE`. MESSAGEix has multiple files for compiling the model, which is read one after the other using methods such as `$INCLUDE`. As such, the answer to your question is, no,

[2022-10-24 08:20] Robinson950619 commented on #660
So sorry that I'm late for your suggestions because there were too much things to deal with in a few days. Here is my conda list message-ix

       # packages in environment at C:\Users\dell\anaconda3\envs\message_env:
       #
       # Name                    Version                   Build  Channel
       message-ix                3.6.0              pyhd8ed1ab_0    conda-forge

And here is my me

[2022-10-31 11:16] Robinson950619 commented on #660
Anyone here？Could some talent people help me solve this issue？@_@

[2022-11-02 08:25] khaeru commented on #660
Please [carefully read this notice](https://github.com/iiasa/message_ix/discussions/436) in our GitHub Discussions forum.

[2022-11-07 15:36] gidden commented on #575
closed via #657

[2022-11-07 15:36] #575 closed

[2022-11-07 15:36] gidden commented on #250
closed via https://github.com/iiasa/message_ix/pull/657

[2022-11-07 17:32] #652 closed

[2022-11-08 10:36] behnam-zakeri opened #667 "`relation_cost` is not included in the calculation of `levelized_cost`"
`levelized_cost` is used to calculate the penalty for the activation of soft constraints in the model. While the equation calculating `levelized_cost` should include all cost related parameters for technologies (see [message_ix/model/MESSAGE/scaling_investment_costs.gms](url)), it omits `relation_cost`. This can underestimate the penalty for those technologies that have cost associated to their ca

[2022-11-09 08:50] gorkemgungormetu commented on #660
I also have the same problem in my new installation. It could be related to the mapping between GAMS and IXMP but I don't know yet. But in any case, you can still report the results from the GDX output file, which you can find the name from the GAMS output in powershell terminal.

[2022-11-09 13:29] khaeru commented on #660
@gorkemgungormetu can you please perhaps provide information that was requested of the user, but not provided: what version of `genno` do you have installed?

[2022-11-10 05:34] gorkemgungormetu commented on #660
| Name | Version | Build | Channel |
|--------|---------|-------|----------|
| genno | 1.14.1 | pyhd8ed1ab_0 | conda-forge |

[2022-11-11 11:36] khaeru opened #671 "Adjust failing nightly tests for #653"
Since about 2022-11-08, nightly test jobs have failed with messages like the following. See logs [1](https://github.com/iiasa/message_ix/actions/runs/3416550754/jobs/5686800108#step:10:2137), [2](https://github.com/iiasa/message_ix/actions/runs/3425497531/jobs/5706348002#step:10:6935).
[code]
Per [this Slack thread](https://iiasa-ece.slack.com/archives/CD0GBHHA4/p1667897073827519) (private):
- @gi

[2022-11-11 11:38] khaeru commented on #671
@gidden @OFR-IIASA @behnam-zakeri —I assigned all three of you, but please remove 1 or 2 when you decide who in particular will address this.

If that's to be done through #669, please remember basic housekeeping:
- Assign the PR to the person responsible.
- Add it to the "MESSAGEix team" project tracker.
- Apply any relevant labels.

[2022-11-14 17:47] ebbekyhl commented on #660
Hi @Robinson950619, @khaeru, and @gorkemgungormetu,
I am also fairly new in the messageix world. I have faced the exact same error message as @Robinson950619. I checked my 'genno' module and I am using the same version as @gorkemgungormetu.

Tried downgrading it to 1.14.0 with the expectation that it could be a bug in the most recent release. But unluckily, this did not do the trick. Any suggestio

[2022-11-15 12:35] ebbekyhl commented on #660
@Robinson950619 have you tried "_from ixmp.reporting import Reporter_" instead of "_from message_ix.reporting import Reporter_". As I understand, the message_ix.reporting is built on the ixmp and genno. It might thus have some features that are missed when using the ixmp command instead. I can see that this causes some errors in the plotting, e.g., "rep.get("plot activity")" leads to a computation

[2022-11-17 09:10] gidden commented on #660
Hi all - thanks for bearing with us on this. We believe that the issue is that the current version of `message_ix` available via pip and conda depend on a previous version of `genno`. Upstream changes in `genno` have been reflected on our current `main`, but break the tutorials in the installable versions. We will work to confirm this is the issue and then provide a new release.

In the mean time,

[2022-11-18 09:17] ywpratama commented on #660
Hi All, thanks for the discussion. I would like to follow up on @gidden comment above. We did test various versions of `genno`, i.e., `versions 1.11` - `version 1.14`, and it appears that only `version 1.11` works. So, please downgrade `genno` to `version 1.11` as @gidden mentioned above.

[2022-11-21 11:07] #647 closed

[2022-11-23 14:45] #632 closed

[2022-11-23 14:52] behnam-zakeri commented on #631
This issue was addressed in #633 and a workflow was introduced in `models.py` to re-initialize existing items (MESSAGEix sets and parameters), throwing a warning if the items are not empty in a scenario, and providing a utility to help users extend the dimensionality of an existing item.

[2022-11-29 08:38] gorkemgungormetu commented on #660
Hello again. I downgraded `genno` to `version 1.11` but this also uninstalled the genno-messageix compatibility module. So I downgraded `message-ix` to `3.4.0` which I believe re-installed the compatibility module and solved the issue. 👍